<style>
.extrema-ratio-company-table
{
    width: 100%;
}
.extrema-ratio-company-table td
{
    padding:3px;
    text-align: left;
    vertical-align: top;
}
.extrema-ratio-company-table h4
{
    font-weight: bold;
    color: #aaa;
}
.extrema-ratio-company-table img
{
    width: 100px;
}
.extrema-ratio-company-table dt
{
    font-weight: bold;
    color: #ccc;
    vertical-align: middle;
}
.extrema-ratio-company-table dt
{
    font-style: italic;
    vertical-align: middle;
}
.extrema-ratio-company-table img
{
    vertical-align: middle;
}
</style>
    <div class="extrema-ratio-post">
    <table class="extrema-ratio-company-table">
          <td colspan="2">
    <img class="extrema-ratio-squad-picture" style="width:32px;vertical-align: middle;" src="{{company.industry_image}}" alt="{{company.name}}" /><h3 class="title">{{company.name}}</h3></td>
          </tr>
          <tr>
              {% if company.picture %}
            <td><img src="{{company.picture.download_url}}" alt="{{company.name}}" /></td>
            {% else %}
            <td><img src="{{company.industry_image}}" alt="{{company.name}}" /></td>
            {% endif %}
            <td>
            <dl>
            <dt>Location</dt>
            <dd>{{company.region}} [{{company.country}} <img style="width:22px;" src="{{company.country_image}}" alt="{{company.country}}" />]</dd>
            <dt>Domain</dt>
            <dd>{{company.domain|capfirst}}</dd>
            <dt>Quality</dt>
            <dd style="font-size:24px;">{{company.quality}}</dd>
            <dt>Stock</dt>
            <dd style="font-size:24px;">{{company.stock}}</dd>
            <dt>Raw Materials Warehouse</dt>
            <dd style="font-size:24px;">{{company.raw_materials_in_stock}}</dd>
            </dl>
            </td>
          </tr>
    </table></div>

  {% if company.export_licences %}
    
    <div class="extrema-ratio-post">
    <table class="extrema-ratio-company-table">
          <tr>
          <td colspan="2">
                <img class="extrema-ratio-squad-picture" style="width:32px;vertical-align: middle;" src="http://www.solarsites.com/certificate.png" alt="Licenses" /><h3 class="title">Export Licenses</h3>
            </td>
          </tr>
          <tr>
          <td>
            </td>
          <td>
          <h4>Industry</h4>
            </td>
          </tr>
          {% for license in company.export_licences %}
          <tr>
          {% for lic in license|split_to_list:"|" %}
              {% ifequal forloop.counter0 1 %}
              <td style="width:23px;max-width:23px;">
                    <img style="width:22px;" src="http://www.erepublik.com/images/flags/M/{{lic}}.gif" alt="{{lic}}" />
            </td>
              {% endifequal %}
              {% if forloop.last %}
                <td>
                  <b>{{lic|capfirst}}</b>
                </td>
              {% endif %}
          {% endfor %}
          </tr>
          {% endfor %}
    </table></div>
    
    
{% endif %}
  {% if company.employees %}
    <div class="extrema-ratio-post">
    <table class="extrema-ratio-company-table">
          <tr>
          <td colspan="4">
                <img class="extrema-ratio-squad-picture" style="width:32px;vertical-align: middle;" src="http://img694.imageshack.us/img694/3892/1261191012ossupport.png" alt="Employees" /><h3 class="title">Employees</h3>
            </td>
          </tr>
          {% for employee in company.employees %}
          <tr>
          {% for e in employee|split_to_list:"|" %}
	          {% if forloop.first %}
              <td style="width:23px;max-width:23px;">
                    <img style="width:22px;" src="http://www.erepublik.com/images/flags/M/{{e}}.gif" alt="{{e}}" />
            </td>
              {% endif %}
		      {% if forloop.last %}
              <td>
			      {% for m in e|split_to_list:"#" %}
				      {% for d in m|split_to_list:"," %}
				         {% if forloop.last %}
					            {{d}} 
					     {% else %}
					           <b>{{d|capfirst}}</b>
					     {% endif %}
				      {% endfor %}<br />
			      {% endfor %}
            </td>
              {% endif %}
              
              {% ifequal forloop.counter0 2 %}
              <td style="width:25px;max-width:25px;">
                  {% if soldiers_list|have_value:e %}
                  <a href="/plugins/erepublik/soldier-{{e}}" title="Profile"><img style="width:24px;" src="http://img696.imageshack.us/img696/4181/1261191505userbusinesss.png" alt="{{e}}" /></a>
                  {% else %}
                <img style="width:24px;" src="http://img192.imageshack.us/img192/7038/1261191500user32.png" alt="{{e}}" />
                 {% endif %}
                </td>
                <td>
                  <b>{{e}}</b>
            </td>
              {% endifequal %}
          {% endfor %}
          </tr>
          {% endfor %}
    </table></div>
{% endif %}
  {% if company.job_offers %}
    <div class="extrema-ratio-post">
    <table class="extrema-ratio-company-table">
          <tr>
          <td colspan="3">
                <img class="extrema-ratio-squad-picture" style="width:32px;vertical-align: middle;" src="http://recruitingjobs-network.com/images/logos/call_center_operator_128.png" alt="Job Offers" /><h3 class="title">Job Offers</h3>
            </td>
          </tr>
          <tr>
          <td>
            </td>
          <td>
          <h4 style="text-align:center;">Slots</h4>
            </td>
          <td style="text-align:center;">
          <h4>Skill</h4>
            </td>
          </tr>
          {% for offer in company.job_offers %}
          <tr>
          {% for od in offer|split_to_list:"|" %}
              {% if forloop.first %}
              <td style="width:23px;max-width:23px;">
                    <img style="width:22px;" src="http://www.erepublik.com/images/flags/M/{{od}}.gif" alt="{{od}}" />
            </td>
            {% else %}
              <td style="font-size:24px;text-align:center;">{{od}}
            </td>
              {% endif %}
          {% endfor %}
          </tr>
          {% endfor %}
    </table></div>
{% endif %}