<style>
.extrema-ratio-links-image img
{
    max-width: 64px;
    width: 64px;
}
</style>
<div class="extrema-ratio-post">
<img style="vertical-align: middle;" src="http://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/P_industry.png/50px-P_industry.png" alt="ER Companies" /><h3 class="title">ER Companies</h3>
<table class="extrema-ratio-links-table">
{% for company in companies %}
	  <tr>
	  <td style="padding-top:3px;" class="extrema-ratio-links-image">{% if company.picture %}
            <img src="{{company.picture.download_url}}" alt="{{company.name}}" />
            {% else %}
            <img src="{{company.industry_image}}" alt="{{company.name}}" />
            {% endif %}</td>
      <td style="padding-top:3px;vertical-align: middle;font-size:24px;">
      Q{{company.quality}}
      </td>
      <td style="padding-top:3px;text-align: left;vertical-align: middle;">
        <a class="extrema-ratio-links-title" href="/plugins/erepublik/company-{{company.name}}" title="{{company.name}}">
      <h2 class="title extrema-ratio-links-url">{{company.name}}</h2></a>
      </td></tr>
{% endfor %}
</table></div>