<style>
.extrema-ratio-soldiers-table td
{
    padding:1px;
    text-align: center;
    vertical-align: middle;
}
.extrema-ratio-soldiers-table h4
{
    font-weight: bold;
    color: #aaa;
}
.extrema-ratio-soldiers-table img
{
    height: 27px;
}
.extrema-ratio-squad-picture
{
    max-height: 64px;
}
.extrema-ratio-soldiers-url
{
    font-size: 14px;
}
</style>
	<div class="extrema-ratio-post">
	
	<img class="extrema-ratio-squad-picture" style="vertical-align: middle;" src="http://wiki.goalunited.org/_media/gu_screens/mi_united_ladder.png" alt="ER Ladder" /><h3 class="title">ER Ladder</h3>
	<table class="extrema-ratio-soldiers-table">
          <tr>
            <td></td>
            <td><h4>Damage since joined</h4></td>
            <td><h4>Level</h4></td>
            <td><h4>Squad</h4></td>
            <td colspan="2"></td>
          </tr>
	{% for soldier in soldiers|dictsortreversed:"damage_since_joined" %}
		  <tr>
          <td style="font-size:24px;color:#fff;">
            {{forloop.counter}}
          </td>
          <td style="color: #ccc;width:20px;">
            {{soldier.damage_since_joined}}
          </td>
          <td style="font-size:24px;">
            {{soldier.level}}
          </td>
          <td style="color: #ccc;width:20px;">
            {{soldier.assigned_squad_name}}
          </td>
          <td class="extrema-ratio-soldiers-image"><img src="{{soldier.avatar_link}}" alt="Avatar" /></td>
		  <td style="text-align:left;padding:0;">
		    <a class="extrema-ratio-links-title" href="/plugins/erepublik/soldier-{{soldier.name}}" title="{{soldier.name}}">
		  <h2 class="title extrema-ratio-soldiers-url">{{soldier.name}}</h2></a>
		  </td>
		  </tr>
	{% endfor %}
	</table></div>