{% regroup soldiers|dictsort:"assigned_squad" by assigned_squad as squads %}
{% for squad in squads %}
<style>
.extrema-ratio-soldiers-table td
{
    padding:1px;
    text-align: center;
    vertical-align: middle;
}
.extrema-ratio-soldiers-table h4
{
    font-weight: bold;
    color: #aaa;
}
.extrema-ratio-soldiers-table img
{
    height: 27px;
}
.extrema-ratio-squad-picture
{
    max-height: 64px;
}
.extrema-ratio-soldiers-url
{
    font-size: 14px;
}
</style>
	<div class="extrema-ratio-post">
	
	<a href="/plugins/erepublik/squad-{{squad.grouper|default:"Independents"}}" title=""><img class="extrema-ratio-squad-picture" style="vertical-align: middle;" src="/plugins/erepublik/get-squad-picture?k={{squad.grouper}}" alt="{{squad.grouper|default:"Independents"}}" /><h3 class="title"></h3></a>
	<table class="extrema-ratio-soldiers-table">
          <tr>
            <td colspan="3" style="text-align:right;"></td>
            <td><h4>Level</h4></td>
            <td><h4>Damage since joined</h4></td>
            <td colspan="2"></td>
          </tr>
	{% for soldier in squad.list|dictsortreversed:"military_rank_int" %}
		  <tr>
          <td>
            <img src="{{soldier.citizenship_country_image}}" alt="{{soldier.citizenship_country}}" />
          </td>
          <td>
            <img src="{{soldier.military_rank_image}}" alt="{{soldier.military_rank}}" />
          </td>
          <td class="extrema-ratio-soldiers-image"><img src="{{soldier.avatar_link}}" alt="Avatar" /></td>
          <td style="font-size:24px;">
            {{soldier.level}}
          </td>
          <td style="color: #ccc;width:20px;">
            {{soldier.damage_since_joined}}
          </td>
          <td>
          <img src="{{soldier.sex_image}}" alt="{{soldier.sex}}" />
          </td>
		  <td style="text-align:left;padding:0;">
		    <a class="extrema-ratio-links-title" href="/plugins/erepublik/soldier-{{soldier.name}}" title="{{soldier.name}}">
		  <h2 class="title extrema-ratio-soldiers-url">{{soldier.name}}</h2></a>
		  </td>
		  </tr>
	{% endfor %}
	</table></div>
{% endfor %}