<style>
.extrema-ratio-soldier-table
{
    width: 100%;
}
.extrema-ratio-soldier-table td
{
    padding:3px;
    text-align: left;
    vertical-align: top;
}
.extrema-ratio-soldier-table h4
{
    font-weight: bold;
    color: #aaa;
}
.extrema-ratio-soldier-table img
{
    width: 130px;
}
.extrema-ratio-soldier-table dt
{
    font-weight: bold;
    color: #ccc;
}
.extrema-ratio-soldier-table dt
{
    font-style: italic;
}
</style>
    <div class="extrema-ratio-post">
    
    <table class="extrema-ratio-soldier-table">
          <td colspan="2"><img class="extrema-ratio-squad-picture" style="width:32px;vertical-align: middle;" src="http://img694.imageshack.us/img694/6299/1261191238skull.png" alt="{{soldier.name}}" /><h3 class="title">{{soldier.name}}</h3></td>
          </tr>
          <tr>
            <td><img src="{{soldier.avatar_big_link}}" alt="{{soldier.name}}" /></td>
            <td>
            <dl>
            <dt>Birthdate</dt>
            <dd>{{soldier.date_of_birth|date:gpress.site.date_format}} ({{soldier.date_of_birth|days_from_date}} days old)</dd>
            <dd>Day {{soldier.date_of_birth|days_from_date:"2007-11-21"}} of the eRepublik eWorld</dd>
            <dt>Wellness</dt>
            <dd>{{soldier.wellness}}</dd>
            <dt>Level</dt>
            <dd>{{soldier.level}}</dd>
            <dt>Damage</dt>
            <dd>{{soldier.damage}}</dd>
            <dt>Military Rank</dt>
            <dd>{{soldier.military_rank}}</dd>
            <dt>Damage since joined us</dt> 
            <dd>{{soldier.damage_since_joined}}</dd>
            <dt>Citizenship</dt>
            <dd>{{soldier.citizenship_country}} <img style="width:24px;vertical-align:middle;" src="{{soldier.citizenship_country_image}}" alt="{{soldier.citizenship_country}}" /></dd>
            <dt>Location</dt>
            <dd>{{soldier.region}} ({{soldier.country}} <img style="width:24px;vertical-align:middle;" src="{{soldier.country_image}}" alt="{{soldier.country}}" />)</dd>
            </dl>
          </tr>
            {% if soldier.assigned_squad_leadership or soldier.assigned_company_leadership %}
          <tr><td colspan="2" style="text-align: center;font-style:italic;">
			    {% if soldier.assigned_squad_leadership %}
			       <div style="float:left;"><img style="width: 16px;margin:0;" src="http://img192.imageshack.us/img192/1851/1262133226awardstargold.png" /><br />Squad Leader</div>
			    {% endif %}
			    {% if soldier.assigned_company_leadership %}
			       <div style="float:left;margin:0 3px;"><img style="width: 16px;margin:0;" src="http://img9.imageshack.us/img9/5223/1262133189awardstargold.png" /><br />Company Owner</div>
			    {% endif %}
			    <div style="clear:both;"></div>
          </td></tr>
            {% endif %}    
    </table></div>
    

    <div class="extrema-ratio-post">
    <table class="extrema-ratio-soldier-table">
          <tr><td colspan="6">
            <img class="extrema-ratio-squad-picture" style="width:32px;vertical-align: middle;" src="http://www.hyattgunstore.com/images/C/ak.png" alt="Powerness" /><h3 class="title">Fire Strength</h3>
          </td></tr>
          <tr>
          <tr style="font-size:24px;">
          <td style="text-align:center;">Hands</td>
          <td style="text-align:center;">Q1</td>
          <td style="text-align:center;">Q2</td>
          <td style="text-align:center;">Q3</td>
          <td style="text-align:center;">Q4</td>
          <td style="text-align:center;">Q5</td>
          </tr>
          <tr>
          <td style="text-align:center;">{{soldier.get_hands_damage}}</td>
          <td style="text-align:center;">{{soldier.get_q1_damage}}</td>
          <td style="text-align:center;">{{soldier.get_q2_damage}}</td>
          <td style="text-align:center;">{{soldier.get_q3_damage}}</td>
          <td style="text-align:center;">{{soldier.get_q4_damage}}</td>
          <td style="text-align:center;">{{soldier.get_q5_damage}}</td>
          </tr>
    </table></div>
    <div class="extrema-ratio-post">
    
    <table class="extrema-ratio-soldier-table">
          <tr>
          <td>
            <img class="extrema-ratio-squad-picture" style="width:32px;vertical-align: middle;" src="http://extrema-ratio.coolminds.org/themes/extrema-ratio/static/images/icons/32x32/links.png" alt="Links" /><h3 class="title">Links</h3>
            <dl>
            {% if soldier.forum %}
            <dd><a href="{{soldier.forum}}" title="Forum Profile" target="_blank">Forum Profile</a></dd>
            {% endif %}
            <dd><a href="{{soldier.profile_url}}" title="eRepublik Profile" target="_blank">eRepublik Profile</a></dd>
            {% if soldier.newspaper_url %}
            <dd><a href="{{soldier.newspaper_url}}" title="Newspaper" target="_blank">Newspaper</a></dd>
            {% endif %}
            {% if soldier.company_url %}
            <dd><a href="{{soldier.company_url}}" title="Company" target="_blank">Company</a></dd>
            {% endif %}
            </dl>
            </td>
          <td>
            <img class="extrema-ratio-squad-picture" style="width:32px;vertical-align: middle;" src="http://img694.imageshack.us/img694/3892/1261191012ossupport.png" alt="ER Roles" /><h3 class="title">ER Roles</h3>
            <dl>
            {% if soldier.assigned_squad %}
            <dd>Assigned Squad <a href="{{soldier.get_assigned_squad.profile_url}}" title="Assigned Squad">{{soldier.get_assigned_squad.name}}</a></dd>
            {% endif %}
            {% if soldier.assigned_squad %}
            <dd>Squad Rank {% if soldier.assigned_squad_leadership %}<span style="color:#ccc;">Leader</span>{% else %}<span style="color:#ccc;">Soldier</span>{% endif %}</dd>
            {% endif %}
            {% if soldier.assigned_company %}
            <dd>Assigned Company <a href="{{soldier.get_assigned_company.profile_url}}" title="Assigned Company">{{soldier.get_assigned_company.name}}</a></dd>
            {% endif %}
            {% if soldier.assigned_company %}
            <dd>Company Role {% if soldier.assigned_company_leadership %}<span style="color:#ccc;">Owner</span>{% else %}<span style="color:#ccc;">Employee</span>{% endif %}</dd>
            {% endif %}
            </dl>
            </td>
          </tr>
    </table></div>
    <div class="extrema-ratio-post">
    
    <table class="extrema-ratio-soldier-table">
          <tr>
          <td colspan="2">
                <img class="extrema-ratio-squad-picture" style="width:32px;vertical-align: middle;" src="http://img687.imageshack.us/img687/5346/1261213711comix.png" alt="{{soldier.realname}}" /><h3 class="title">{{soldier.realname|default:""}}</h3>
            </td>
          </tr>
          <tr>
            <td style="text-align:center;">
            {% if soldier.picture %}
            <img src="{{soldier.picture.download_url}}" alt="{{soldier.realname}}" />
            {% else %}
            <img src="http://www.fifthestate.co.uk/wp-images/authors/Anonymous-large.jpg" alt="{{soldier.realname}}" />
            {% endif %}</td>
            <td>
            <dl>
            {% if soldier.realbirthdate %}
            <dt>Age</dt>
            <dd>{{soldier.realbirthdate|days_from_date}} days old</dd>
            <dd>{{soldier.realbirthdate|date:gpress.site.date_format}}</dd>
            {% endif %}
            <dt>Sex</dt>
            <dd>{% ifequal soldier.sec "F" %}Female{% else %}Male{% endifequal %}</dd>
            {% if soldier.reallocation %}
            <dt>Location</dt>
            <dd>{{soldier.reallocation}}</dd>
            {% endif %}
            {% if soldier.realjob %}
            <dt>Occupation</dt>
            <dd>{{soldier.realjob}}</dd>
            {% endif %}
            </dl>
            </td>
          </tr>
            {% if soldier.notes %}
          <tr>
          <td colspan="2">
            {{soldier.notes}}
            </td>
          </tr>
            {% endif %}
    </table></div>