<style>
.extrema-ratio-soldiers-table td
{
    padding:1px;
    text-align: center;
    vertical-align: middle;
}
.extrema-ratio-soldiers-table h4
{
    font-weight: bold;
    color: #aaa;
}
.extrema-ratio-soldiers-table img
{
    height: 27px;
}
.extrema-ratio-squad-picture
{
    max-height: 64px;
}
.extrema-ratio-soldiers-url
{
    font-size: 14px;
}
.extrema-ratio-soldier-table
{
    width: 100%;
}
.extrema-ratio-soldier-table td
{
    padding:3px;
    text-align: left;
    vertical-align: top;
}
.extrema-ratio-soldier-table h4
{
    font-weight: bold;
    color: #aaa;
}
.extrema-ratio-soldier-table img
{
    width: 130px;
}
.extrema-ratio-soldier-table dt
{
    font-weight: bold;
    color: #ccc;
}
.extrema-ratio-soldier-table dt
{
    font-style: italic;
}
</style>
    <div class="extrema-ratio-post">
    
    <table class="extrema-ratio-soldier-table">
          <td colspan="2"><img class="extrema-ratio-squad-picture" style="width:32px;vertical-align: middle;" src="http://img694.imageshack.us/img694/6299/1261191238skull.png" alt="{{soldier.name}}" /><h3 class="title">{{squad.name}}</h3></td>
          </tr>
          <tr>
            <td><img src="{{squad.picture.download_url}}" alt="{{squad.name}}" /></td>
            <td>
            <dl>
            <dt>Foundation Date</dt>
            <dd>{{squad.date_of_birth|days_from_date}} days ({{squad.date_of_birth|date:gpress.site.date_format}})</dd>
            {% if squad.mission %}
            <dt>Current Missions</dt>
            <dd>{{squad.mission}}</dd>
            {% endif %}
            <dt>Notes</dt>
            <dd>{{squad.notes}}</dd>
            </dl>
          </tr>
      </table>
     </div>
     
     
     
	<div class="extrema-ratio-post">
	
	<img class="extrema-ratio-squad-picture" style="vertical-align: middle;" src="/plugins/erepublik/get-squad-picture?k={{squad.grouper}}" alt="{{squad.grouper|default:"Independents"}}" /><h3 class="title">Members</h3>
	<table class="extrema-ratio-soldiers-table">
          <tr>
            <td colspan="3" style="text-align:right;"></td>
            <td><h4>Level</h4></td>
            <td><h4>Damage since joined</h4></td>
            <td colspan="2"></td>
          </tr>
	{% for soldier in squad.soldiers|dictsortreversed:"damage_since_joined" %}
		  <tr>
          <td>
            <img src="{{soldier.citizenship_country_image}}" alt="{{soldier.citizenship_country}}" />
          </td>
          <td>
            <img src="{{soldier.military_rank_image}}" alt="{{soldier.military_rank}}" />
          </td>
          <td class="extrema-ratio-soldiers-image"><img src="{{soldier.avatar_link}}" alt="Avatar" /></td>
          <td style="font-size:24px;">
            {{soldier.level}}
          </td>
          <td style="color: #ccc;width:20px;">
            {{soldier.damage_since_joined}}
          </td>
          <td>
          <img src="{{soldier.sex_image}}" alt="{{soldier.sex}}" />
          </td>
		  <td style="text-align:left;padding:0;">
		    <a class="extrema-ratio-links-title" href="/plugins/erepublik/soldier-{{soldier.name}}" title="{{soldier.name}}">
		  <h2 class="title extrema-ratio-soldiers-url">{{soldier.name}}</h2></a>
		  {% if soldier.assigned_squad_leadership %}***{% endif %}
		  </td>
		  </tr>
	{% endfor %}
	<tr>
	<td colspan="7" style="font-style:italic;text-align:right;">Squad Leader ***</td>
	</tr>
	</table></div>