<dl id="extrema-ratio-contacts-list">
  <dt>
    <h2>{{contact.name|default:"Name not available"}}</h2>
  </dt>
  <dd>{{contact.address}}</dd>
  <dd>{{contact.cap}} {{contact.location}} ({{contact.state}})</dd>
  <dd>&nbsp;</dd>
  <dd><b>E-Mail</b>: {{contact.email|default:"Not available"}}</dd>
  <dd><b>Phone</b>: {{contact.phone|default:"Not available"}}</dd>
  <dd><b>Fax</b>: {{contact.fax|default:"Not available"}}</dd>
</dl>