<table id="extrema-ratio-files-table">
{% for file in files %}
	{% cycle <tr><td>,<td>,<td> %}
	{{file.html}}
	<a href="/files/{% if file.permalink %}{{file.permalink}}{% else %}{{file.key}}{% endif %}" title="{{file.title}}"><h2>{{file.title}}</h2></a><br />
	<p class="extrema-ratio-file-description">
		{{file.description}}
	</p>
	{% cycle </td>,</td>,</td></tr>, %}
{% endfor %}
</table>
-->
<div id="extrema-ratio-files-list-box">
<dl id="extrema-ratio-files-list">
{% for file in files %}
	<dt><a href="/files/{% if file.permalink %}{{file.permalink}}{% else %}{{file.key}}{% endif %}" title="{{file.title}}"><h2>{{file.title}}</h2></a></dt>
	<dd class="extrema-ratio-file-description">
		{{file.description}}
	</dd>
	<dt>&nbsp;</dt>
{% endfor %}
</dl>
</div>
