<table id="extrema-ratio-links-table">
	<tr>
		<td>
			{{link.html}}
		</td>
		<td>
			<h2>{{link.title}}</h2><br />
			<a href="/links/{% if link.permalink %}{{link.permalink}}{% else %}{{link.key}}{% endif %}/redirect" title="{{link.title}}">Click here to visit this link</a> ( {{link.counter}} hit{{link.counter|pluralize:"s"}} )<br />
			<p class="extrema-ratio-link-description">
				{{link.description}}
			</p>
		</td>
	</tr>
</table>