    <div class="extrema-ratio-post">
    <div class="extrema-ratio-gallery">
{% for album in albums %}
	 {% for m in media %}
		    <a class="lightwindow" params="lightwindow_height=500" href="{{m.download_url}}/{{m.filename}}" title="{{m.title}}..." rel="/\\:;*?<>'”|®™©&#[{{album}}]" author="{{m.update_user}}"> 
		        <img src="{{m.thumbnail_url}}" alt="{{m.description|striptags}}..." />
		    </a>
	 {% endfor %}
 {% endfor %}
</div></div>