<div class="bb-29b-article article">
	<a href="/blog/{% if article.permalink %}{{article.permalink}}{% else %}{{article.key}}{% endif %}" title="{{article.title}}"><h2 class="title">{{article.title}}</h2></a><br />
	<p class="bb-29b-article-description meta">
		Published by {{article.publish_user.nickname}} on {{article.publish_date|date:"d.m.Y"}}
	</p>
	<p class="bb-29b-article-description entry">
		{{article.body}}
	</p>
</div>