<div class="bb-29b-post">
	<a href="/blog/{% if post.permalink %}{{post.permalink}}{% else %}{{post.key}}{% endif %}" title="{{post.title}}"><h2>{{post.title}}</h2></a><br />
	<p class="bb-29b-post-description">
		Published by {{post.publish_user.nickname}} on {{post.publish_date}}
	</p>
	<p class="bb-29b-post-description">
		{{post.body}}
	</p>
</div>