<form action="/gp-admin/plugins/erepublik/companies-{{company.key}}" method="post" id="gpress-admin-form">
<h2>Company {{company.name}}</h2>
{% include '../_shared/error_box.html' %}
<input type="hidden" name="key" value="{{company.key}}" />
	<tr>
	<td colspan="3" style="text-align: center;">{{company.code}}</td>
	</tr>
  <tr>
  <th class="gpress-admin-form-table-cell">Image</th>
  <td class="gpress-admin-form-table-cell">
  <select name="picture">
    <option value=""></option>
    {% for image in gpress.public_contents.media %}
    {% ifequal image.mime 'image' %}
      <option value="{{image.key}}" {% ifequal company.picture.key image.key %}selected="selected"{% endifequal %}>{% firstof image.title image.permalink image.key %}</option>
    {% endifequal %}
    {% endfor %}
  </select>
  </td>
  <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Creation date</th>
    <td class="gpress-admin-form-table-cell">
    <input type="text" name="date" size="64" value="{{company.date}}" />
    {{company.date|date:gpress.site.date_format}} {{company.date|time:gpress.site.time_format}} ({{company.user.nickname}})</td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Last update</th>
    <td class="gpress-admin-form-table-cell">
    <input type="text" name="update_date" size="64" value="{{company.update_date}}" />
    {{company.update_date|date:gpress.site.date_format}} {{company.update_date|time:gpress.site.time_format}} ({{company.update_user.nickname}})</td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">ID</th>
    <td class="gpress-admin-form-table-cell"><input type="text" name="id" size="64" value="{{company.id}}" /></td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Name</th>
    <td class="gpress-admin-form-table-cell">{{company.name}}<input type="hidden" name="name" size="64" value="{{company.name}}" /></td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Notes</th>
    <td colspan="2" class="gpress-admin-form-table-cell"><textarea class="mceLightEditor" name="notes" cols="64">{{company.notes|default:" "}}</textarea></td>
    </tr>
    <tr>
    <td colspan="3" style="text-align: center;"><input type="submit" name="submit" id="submit" value="Save" /></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Details</th>
    <td colspan="2" class="gpress-admin-form-table-cell"><pre>{{company.to_xml|escape}}</pre></td>
    </tr>
    </table>
</form>