<form action="/gp-admin/plugins/erepublik/companies-{% if company.key %}{{company.key}}{% else %}write{% endif %}" method="post" id="gpress-admin-form">
<h2>Company</h2>
{% include '../_shared/error_box.html' %}
{% if company.key %}
{% ifnotequal company.protection 0 %}
    {% ifnotequal company.user gpress.user_instance %}
        <tr>
        <td colspan="3"><div class="gpress-warning-box">Warning: you cannot {% ifequal company.protection 1 %}delete{% endifequal %}{% ifequal company.protection 2 %}update or delete{% endifequal %} this content.</div></td>
        </tr>
    {% endifnotequal %}
{% endifnotequal %}
<input type="hidden" name="key" value="{{company.key}}" />
	<tr>
	<td colspan="3" style="text-align: center;">{{company.code}}</td>
	</tr>
  <tr>
  <th class="gpress-admin-form-table-cell">Image</th>
  <td class="gpress-admin-form-table-cell">
  <select name="picture">
    <option value=""></option>
    {% for image in gpress.public_contents.media %}
    {% ifequal image.mime 'image' %}
      <option value="{{image.key}}" {% ifequal company.image.key image.key %}selected="selected"{% endifequal %}>{% firstof image.title image.permacompany image.key %}</option>
    {% endifequal %}
    {% endfor %}
  </select>
  </td>
  <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Creation date</th>
    <td class="gpress-admin-form-table-cell">
    <input type="text" name="date" size="64" value="{{company.date}}" />
    {{company.date|date:gpress.site.date_format}} {{company.date|time:gpress.site.time_format}} ({{company.user.nickname}})</td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Last update</th>
    <td class="gpress-admin-form-table-cell">
    <input type="text" name="update_date" size="64" value="{{company.update_date}}" />
    {{company.update_date|date:gpress.site.date_format}} {{company.update_date|time:gpress.site.time_format}} ({{company.update_user.nickname}})</td>
    <td class="gpress-admin-suggest"></td>
    </tr>
{% endif %}
    <tr>
    <th class="gpress-admin-form-table-cell">ID</th>
    <td class="gpress-admin-form-table-cell"><input type="text" name="id" size="64" value="{{company.id}}" /></td>
    <td class="gpress-admin-suggest"></td>
    </tr>
{% if company.key %}
    <tr>
    <th class="gpress-admin-form-table-cell">Name</th>
    <td class="gpress-admin-form-table-cell"><input type="text" name="name" size="64" value="{{company.name}}" /></td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Notes</th>
    <td colspan="2" class="gpress-admin-form-table-cell"><textarea class="mceLightEditor" name="notes" cols="64">{{company.notes|default:" "}} </textarea></td>
    </tr>
{% endif %}
    <tr>
    <td colspan="3" style="text-align: center;"><input type="submit" name="submit" id="submit" value="Save" /></td>
    </tr>
    </table>
</form>