<form action="/gp-admin/plugins/erepublik/{{soldier.key}}" method="post" id="gpress-admin-form">
<h2>Soldier {{soldier.name}}</h2>
{% include '../_shared/error_box.html' %}
<input type="hidden" name="key" value="{{soldier.key}}" />
	<tr>
	<td colspan="3" style="text-align: center;">{{soldier.code}}</td>
	</tr>
  <tr>
  <th class="gpress-admin-form-table-cell">Image</th>
  <td class="gpress-admin-form-table-cell">
  <select name="picture">
    <option value=""></option>
    {% for image in gpress.public_contents.media %}
    {% ifequal image.mime 'image' %}
      <option value="{{image.key}}" {% ifequal soldier.picture.key image.key %}selected="selected"{% endifequal %}>{% firstof image.title image.permalink image.key %}</option>
    {% endifequal %}
    {% endfor %}
  </select>
  </td>
  <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Creation date</th>
    <td class="gpress-admin-form-table-cell">
    <input type="text" name="date" size="64" value="{{soldier.date}}" />
    {{soldier.date|date:gpress.site.date_format}} {{soldier.date|time:gpress.site.time_format}} ({{soldier.user.nickname}})</td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Last update</th>
    <td class="gpress-admin-form-table-cell">
    {{soldier.update_date|date:gpress.site.date_format}} {{soldier.update_date|time:gpress.site.time_format}} ({{soldier.update_user.nickname}})</td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Birthdate</th>
    <td class="gpress-admin-form-table-cell">
    {{soldier.date_of_birth|date:gpress.site.date_format}} {{soldier.date_of_birth|time:gpress.site.time_format}}</td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Squad Leadership</th>
    <td class="gpress-admin-form-table-cell"><input type="checkbox" name="assigned_squad_leadership" value="1" {% if soldier.assigned_squad_leadership %} checked="checked"{% endif %}/></td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Squad</th>
    <td class="gpress-admin-form-table-cell">
        <select name="assigned_squad"  multiple="multiple">
        <option value=""></option>
        {% for cat in squads %}
            <option value="{{cat.key}}"{% if soldier.assigned_squad|isequal:cat.key %} selected="selected"{% endif %}>{{cat.name}}</option>
        {% endfor %}
        </select>
    </td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Company Leadership</th>
    <td class="gpress-admin-form-table-cell"><input type="checkbox" name="assigned_company_leadership" value="1" {% if soldier.assigned_company_leadership %} checked="checked"{% endif %}/></td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Company</th>
    <td class="gpress-admin-form-table-cell">
        <select name="assigned_company"  multiple="multiple">
        <option value=""></option>
        {% for cat in companies %}
            <option value="{{cat.key}}"{% if soldier.assigned_company|isequal:cat.key %} selected="selected"{% endif %}>{{cat.name}}</option>
        {% endfor %}
        </select>
    </td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Real Name</th>
    <td class="gpress-admin-form-table-cell"><input type="text" name="realname" size="64" value="{{soldier.realname|default:""}}" /></td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Real Location</th>
    <td class="gpress-admin-form-table-cell"><input type="text" name="reallocation" size="64" value="{{soldier.reallocation|default:""}}" /></td>
    <td class="gpress-admin-suggest"></td>
    </tr><!--
    <tr>
    <th class="gpress-admin-form-table-cell">Real Age</th>
    <td class="gpress-admin-form-table-cell"><input type="text" name="realage" size="64" value="{{soldier.realage|default:""}}" /></td>
    <td class="gpress-admin-suggest"></td>
    </tr>-->
    <tr>
    <th class="gpress-admin-form-table-cell">Real Birthdate</th>
    <td class="gpress-admin-form-table-cell"><input type="text" name="realbirthdate" size="64" value="{{soldier.realbirthdate|default:""}}" /></td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Real Occupation</th>
    <td class="gpress-admin-form-table-cell"><input type="text" name="realjob" size="64" value="{{soldier.realjob|default:""}}" /></td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Forum Profile URL</th>
    <td class="gpress-admin-form-table-cell"><input type="text" name="forum" size="64" value="{{soldier.forum|default:""}}" /></td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">ID</th>
    <td class="gpress-admin-form-table-cell">{{soldier.id}}</td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Name</th>
    <td class="gpress-admin-form-table-cell">{{soldier.name}}<input type="hidden" name="name" size="64" value="{{soldier.name}}" /><!--<input type="text" name="name" size="64" value="{{soldier.name}}" />--></td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Notes</th>
    <td colspan="2" class="gpress-admin-form-table-cell"><textarea class="mceLightEditor" name="notes" cols="64">{{soldier.notes|default:" "}} </textarea></td>
    </tr>
    <tr>
    <td colspan="3" style="text-align: center;"><input type="submit" name="submit" id="submit" value="Save" /></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Details</th>
    <td colspan="2" class="gpress-admin-form-table-cell"><pre>{{soldier.to_xml|escape}}</pre></td>
    </tr>
    </table>
</form>