<form action="/gp-admin/plugins/erepublik/soldiers-write" method="post" id="gpress-admin-form">
<h2>Content</h2>
{% include '../_shared/error_box.html' %}
    <tr>
    <th class="gpress-admin-form-table-cell">ID</th>
    <td class="gpress-admin-form-table-cell"><input type="text" name="id" size="64" value="{{soldier.id}}" /></td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Name</th>
    <td class="gpress-admin-form-table-cell"><input type="text" name="name" size="64" value="{{soldier.name}}" /></td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <td colspan="3" style="text-align: center;"><input type="submit" name="submit" id="submit" value="Save" /></td>
    </tr>
    </table>
</form>