<form action="/gp-admin/plugins/erepublik/squads-{{squad.key}}" method="post" id="gpress-admin-form">
<h2>Squad {{squad.name}}</h2>
{% include '../_shared/error_box.html' %}
<input type="hidden" name="key" value="{{squad.key}}" />
	<tr>
	<td colspan="3" style="text-align: center;">{{squad.code}}</td>
	</tr>
  <tr>
  <th class="gpress-admin-form-table-cell">Image</th>
  <td class="gpress-admin-form-table-cell">
  <select name="picture">
    <option value=""></option>
    {% for image in gpress.public_contents.media %}
    {% ifequal image.mime 'image' %}
      <option value="{{image.key}}" {% ifequal squad.picture.key image.key %}selected="selected"{% endifequal %}>{% firstof image.title image.permalink image.key %}</option>
    {% endifequal %}
    {% endfor %}
  </select>
  </td>
  <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Creation date</th>
    <td class="gpress-admin-form-table-cell">
    <input type="text" name="date" size="64" value="{{squad.date}}" />
    {{squad.date|date:gpress.site.date_format}} {{squad.date|time:gpress.site.time_format}} ({{squad.user.nickname}})</td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Last update</th>
    <td class="gpress-admin-form-table-cell">
    <input type="text" name="update_date" size="64" value="{{squad.update_date}}" />
    {{squad.update_date|date:gpress.site.date_format}} {{squad.update_date|time:gpress.site.time_format}} ({{squad.update_user.nickname}})</td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Birthdate</th>
    <td class="gpress-admin-form-table-cell">
    <input type="text" name="update_date" size="64" value="{{squad.date_of_birth}}" />
    {{squad.date_of_birth|date:gpress.site.date_format}} {{squad.date_of_birth|time:gpress.site.time_format}}</td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Name</th>
    <td class="gpress-admin-form-table-cell"><input type="text" name="name" size="64" value="{{squad.name}}" /></td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Notes</th>
    <td colspan="2" class="gpress-admin-form-table-cell"><textarea class="mceLightEditor" name="notes" cols="64">{{squad.notes|default:" "}}</textarea></td>
    </tr>
    <tr>
    <td colspan="3" style="text-align: center;"><input type="submit" name="submit" id="submit" value="Save" /></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Details</th>
    <td colspan="2" class="gpress-admin-form-table-cell"><pre>{{squad.to_xml|escape}}</pre></td>
    </tr>
    </table>
</form>