<form action="/gp-admin/plugins/erepublik/squads-{% if squad.key and not gpress.newLanguage %}{{squad.key}}{% else %}write{% endif %}" method="post" id="gpress-admin-form">
<h2>Squad</h2>
{% include '../_shared/error_box.html' %}
{% if squad.key %}
{% ifnotequal squad.protection 0 %}
    {% ifnotequal squad.user gpress.user_instance %}
        <tr>
        <td colspan="3"><div class="gpress-warning-box">Warning: you cannot {% ifequal squad.protection 1 %}delete{% endifequal %}{% ifequal squad.protection 2 %}update or delete{% endifequal %} this content.</div></td>
        </tr>
    {% endifnotequal %}
{% endifnotequal %}
<input type="hidden" name="key" value="{{squad.key}}" />
	<tr>
	<td colspan="3" style="text-align: center;">{{squad.code}}</td>
	</tr>
  <tr>
  <th class="gpress-admin-form-table-cell">Image</th>
  <td class="gpress-admin-form-table-cell">
  <select name="picture">
    <option value=""></option>
    {% for image in gpress.public_contents.media %}
    {% ifequal image.mime 'image' %}
      <option value="{{image.key}}" {% ifequal squad.image.key image.key %}selected="selected"{% endifequal %}>{% firstof image.title image.permasquad image.key %}</option>
    {% endifequal %}
    {% endfor %}
  </select>
  </td>
  <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Creation date</th>
    <td class="gpress-admin-form-table-cell">
    <input type="text" name="date" size="64" value="{{squad.date}}" />
    {{squad.date|date:gpress.site.date_format}} {{squad.date|time:gpress.site.time_format}} ({{squad.user.nickname}})</td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Last update</th>
    <td class="gpress-admin-form-table-cell">
    <input type="text" name="update_date" size="64" value="{{squad.update_date}}" />
    {{squad.update_date|date:gpress.site.date_format}} {{squad.update_date|time:gpress.site.time_format}} ({{squad.update_user.nickname}})</td>
    <td class="gpress-admin-suggest"></td>
    </tr>
{% endif %}
    <tr>
    <th class="gpress-admin-form-table-cell">Name</th>
    <td class="gpress-admin-form-table-cell"><input type="text" name="name" size="64" value="{{squad.name}}" /></td>
    <td class="gpress-admin-suggest"></td>
    </tr>
{% if squad.key %}
    <tr>
    <th class="gpress-admin-form-table-cell">Notes</th>
    <td colspan="2" class="gpress-admin-form-table-cell"><textarea class="mceLightEditor" name="notes" cols="64">{{squad.notes|default:" "}} </textarea></td>
    </tr>
{% endif %}
    <tr>
    <td colspan="3" style="text-align: center;"><input type="submit" name="submit" id="submit" value="Save" /></td>
    </tr>
    </table>
</form>