                <p class="gpress-admin-button-2">
                    <a href="/plugins/erepublik/cronjob/update/soldiers" title="Fetch soldiers data from eRepublik servers" target="_blank">Fetch soldiers data from eRepublik servers</a>
                </p>
                <p class="gpress-admin-button-2">
                    <a href="/plugins/erepublik/cronjob/update/companies" title="Fetch companies data from eRepublik servers" target="_blank">Fetch companies data from eRepublik servers</a>
                </p>
                <br />
            {% if soldiers %}
                <form action="" method="post">
                <h2>Soldiers</h2>
                <table class="gpress-admin-table-list">
                <tr><td colspan="6">
                <p class="gpress-admin-button-2">
                    <a href="/gp-admin/plugins/erepublik/soldiers-write" title="Add a soldier">Add a soldier</a>
                </p>
                </td></tr>
                <tr>
                    <th class="select_all-box" id="all_entities"></th>
                    <th style="text-align: left;"><a href="/gp-admin/plugins/erepublik/soldiers?sort=title" title="Sort by: title">Name</a></th>
                    <th><a href="/gp-admin/plugins/erepublik/soldiers?sort=date" title="Sort by: creation date">Creation date</a></th>
                    <th><a href="/gp-admin/plugins/erepublik/soldiers?sort=update" title="Sort by: last update">Last update</a></th>
                    <th colspan="2"></th>
                </tr>
                {% regroup soldiers by squad as contents %}
                {% for sld in contents %}
                <tr class="{% cycle gpress-admin-table-row,gpress-admin-table-alt-row %}">
                    <th colspan="6" style="padding-left:20px;font-size:bold;font-size:16px;text-align:left;">{{sld.grouper|default:"Independents"}}</th>
                </tr>
                {% for soldier in sld.list %}
                <tr class="{% cycle gpress-admin-table-row,gpress-admin-table-alt-row %}" id="row_{{soldier.key}}">
                    <td class="gpress-admin-table-row-checkbox"><input class="all_entities" type="checkbox" name="{{soldier.key}}" value="1" /></td>
                    <td class="gpress-admin-table-title">{{soldier.name|default:"Unamed"}}</td>
                    <td>{{soldier.date|date:gpress.site.date_format}}</td>
                    <td>{{soldier.update_date|date:gpress.site.date_format}}</td>
                    <td><a id="soldier_{{soldier.key}}" class="gpress-admin-button-2 javascript_hide_tmpnot" href="/gp-admin/plugins/erepublik/{{soldier.key}}" title="Edit this soldier">Edit</a></td>
                    <td><a class="gpress-admin-button-2" href="/plugins/erepublik/soldier-{{soldier.name}}" title="Go to the soldier public page" target="_blank">Open</a></td>
                </tr>
                {% endfor %}{% endfor %}
                </table>
        <table class="gpress-admin-table-list" style="margin: -5px 0px 0px 0px;">
        <tr><th class="select_all-box" id="all_entities"></th>
        <th style="text-align:left;width:110px;max-width:110px;"><input type="submit" name="delete" value="Delete" /></th>
        <th style="text-align:left;width:245px;max-width:245px;"></th>
            <th style="text-align:right;">
                {% if soldiers|length_is:"20" %}
                {% for start in soldiers %}
                    {% ifnotequal start offset %}<a href="?{{ getvars|remove_var:"start" }}&start={{start}}" title="Page {{forloop.counter}}">{% endifnotequal %}
                    {{forloop.counter}}
                    {% ifnotequal start offset %}</a>{% endifnotequal %}
                {% endfor %}
                {% endif %}
            </th>
          </tr>
        </table>
       </form>
            {% else %}
                <div class="gpress-courtesy-message">
                    <h3>There are no soldiers added.</h3><br />
                    <a href="/gp-admin/plugins/erepublik/soldiers-write" title="Add your first soldier now!">Add your first soldier now!</a>
                </div>
            {% endif %}
            
            
            
            <br /><br />
            
            {% if squads %}
                <form action="" method="post">
                <h2>Squads</h2>
                <table class="gpress-admin-table-list">
                <p class="gpress-admin-button-2">
                    <a href="/gp-admin/plugins/erepublik/squads-write" title="Add a squad">Add a squad</a>
                </p>
                <tr><td colspan="6">
                </td></tr>
                <tr>
                    <th class="select_all-box" id="all_entities"></th>
                    <th style="text-align: left;"><a href="/gp-admin/plugins/erepublik/squads?sort=title" title="Sort by: title">Name</a></th>
                    <th><a href="/gp-admin/plugins/erepublik/squads?sort=date" title="Sort by: creation date">Creation date</a></th>
                    <th><a href="/gp-admin/plugins/erepublik/squads?sort=update" title="Sort by: last update">Last update</a></th>
                    <th colspan="2"></th>
                </tr>
                {% regroup squads by squad as contents %}
                {% for sld in contents %}
                <tr class="{% cycle gpress-admin-table-row,gpress-admin-table-alt-row %}">
                    <th colspan="6" style="padding-left:20px;font-size:bold;font-size:16px;text-align:left;">{{sld.grouper|default:"Independents"}}</th>
                </tr>
                {% for squad in sld.list %}
                <tr class="{% cycle gpress-admin-table-row,gpress-admin-table-alt-row %}" id="row_{{squad.key}}">
                    <td class="gpress-admin-table-row-checkbox"><input class="all_entities" type="checkbox" name="{{squad.key}}" value="1" /></td>
                    <td class="gpress-admin-table-title">{{squad.name|default:"Unamed"}}</td>
                    <td>{{squad.date|date:gpress.site.date_format}}</td>
                    <td>{{squad.update_date|date:gpress.site.date_format}}</td>
                    <td><a id="squad_{{squad.key}}" class="gpress-admin-button-2 javascript_hide_tmpnot" href="/gp-admin/plugins/erepublik/squads-{{squad.key}}" title="Edit this squad">Edit</a></td>
                    <td><a class="gpress-admin-button-2" href="/plugins/erepublik/squad-{{squad.name}}" title="Go to the squad public page" target="_blank">Open</a></td>
                </tr>
                {% endfor %}{% endfor %}
                </table>
        <table class="gpress-admin-table-list" style="margin: -5px 0px 0px 0px;">
        <tr><th class="select_all-box" id="all_entities"></th>
        <th style="text-align:left;width:110px;max-width:110px;"><input type="submit" name="delete" value="Delete" /></th>
        <th style="text-align:left;width:245px;max-width:245px;"></th>
            <th style="text-align:right;">
                {% if squads|length_is:"20" %}
                {% for start in squads %}
                    {% ifnotequal start offset %}<a href="?{{ getvars|remove_var:"start" }}&start={{start}}" title="Page {{forloop.counter}}">{% endifnotequal %}
                    {{forloop.counter}}
                    {% ifnotequal start offset %}</a>{% endifnotequal %}
                {% endfor %}
                {% endif %}
            </th>
          </tr>
        </table>
       </form>
            {% else %}
                <div class="gpress-courtesy-message">
                    <h3>There are no squads added.</h3><br />
                    <a href="/gp-admin/plugins/erepublik/squads-write" title="Add your first squad now!">Add your first squad now!</a>
                </div>
            {% endif %}
            
            <br /><br />
            
            
            {% if companies %}
                <form action="" method="post">
                <h2>Companies</h2>
                <table class="gpress-admin-table-list">
                <tr><td colspan="6">
                <p class="gpress-admin-button-2">
                    <a href="/gp-admin/plugins/erepublik/companies-write" title="Add a company">Add a company</a>
                </p>
                </td></tr>
                <tr>
                    <th class="select_all-box" id="all_entities"></th>
                    <th style="text-align: left;"><a href="/gp-admin/plugins/erepublik/companies?sort=title" title="Sort by: title">Name</a></th>
                    <th><a href="/gp-admin/plugins/erepublik/companies?sort=date" title="Sort by: creation date">Creation date</a></th>
                    <th><a href="/gp-admin/plugins/erepublik/companies?sort=update" title="Sort by: last update">Last update</a></th>
                    <th colspan="2"></th>
                </tr>
                {% regroup companies by company as contents %}
                {% for sld in contents %}
                <tr class="{% cycle gpress-admin-table-row,gpress-admin-table-alt-row %}">
                    <th colspan="6" style="padding-left:20px;font-size:bold;font-size:16px;text-align:left;">{{sld.grouper|default:"Independents"}}</th>
                </tr>
                {% for company in sld.list %}
                <tr class="{% cycle gpress-admin-table-row,gpress-admin-table-alt-row %}" id="row_{{company.key}}">
                    <td class="gpress-admin-table-row-checkbox"><input class="all_entities" type="checkbox" name="{{company.key}}" value="1" /></td>
                    <td class="gpress-admin-table-title">{{company.name|default:"Unamed"}}</td>
                    <td>{{company.date|date:gpress.site.date_format}}</td>
                    <td>{{company.update_date|date:gpress.site.date_format}}</td>
                    <td><a id="company_{{company.key}}" class="gpress-admin-button-2 javascript_hide_tmpnot" href="/gp-admin/plugins/erepublik/companies-{{company.key}}" title="Edit this company">Edit</a></td>
                    <td><a class="gpress-admin-button-2" href="/plugins/erepublik/company-{{company.name}}" title="Go to the company public page" target="_blank">Open</a></td>
                </tr>
                {% endfor %}{% endfor %}
                </table>
        <table class="gpress-admin-table-list" style="margin: -5px 0px 0px 0px;">
        <tr><th class="select_all-box" id="all_entities"></th>
        <th style="text-align:left;width:110px;max-width:110px;"><input type="submit" name="delete" value="Delete" /></th>
        <th style="text-align:left;width:245px;max-width:245px;"></th>
            <th style="text-align:right;">
                {% if companies|length_is:"20" %}
                {% for start in companies %}
                    {% ifnotequal start offset %}<a href="?{{ getvars|remove_var:"start" }}&start={{start}}" title="Page {{forloop.counter}}">{% endifnotequal %}
                    {{forloop.counter}}
                    {% ifnotequal start offset %}</a>{% endifnotequal %}
                {% endfor %}
                {% endif %}
            </th>
          </tr>
        </table>
       </form>
            {% else %}
                <div class="gpress-courtesy-message">
                    <h3>There are no companies added.</h3><br />
                    <a href="/gp-admin/plugins/erepublik/companies-write" title="Add your first company now!">Add your first company now!</a>
                </div>
            {% endif %}