<form action="/gp-admin/pages/{% if page.key and not gpress.newLanguage %}update/{{page.key}}{% else %}add{% endif %}" method="post" id="gpress-admin-form">
<h2>Content</h2>
{% include '../_shared/error_box.html' %}
{% if page.key and not gpress.newLanguage %}
{% ifnotequal page.protection 0 %}
    {% ifnotequal page.user gpress.user_instance %}
        <tr>
        <td colspan="3"><div class="gpress-warning-box">Warning: you cannot {% ifequal page.protection 1 %}delete{% endifequal %}{% ifequal page.protection 2 %}update or delete{% endifequal %} this content.</div></td>
        </tr>
    {% endifnotequal %}
{% endifnotequal %}
  <input type="hidden" name="key" value="{{page.key}}" />
    <tr>
    <th class="gpress-admin-form-table-cell">Creation date</th>
    <td class="gpress-admin-form-table-cell">
    <input type="text" name="date" size="64" value="{{page.date|default:""}}" />
    {{page.date|date:gpress.site.date_format}} {{page.date|time:gpress.site.time_format}} ({{page.user.nickname}})</td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Last update</th>
    <td class="gpress-admin-form-table-cell">
    <input type="text" name="update_date" size="64" value="{{page.update_date|default:""}}" />
    {{page.update_date|date:gpress.site.date_format}} {{page.update_date|time:gpress.site.time_format}} ({{page.update_user.nickname}})</td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Publish date</th>
    <td class="gpress-admin-form-table-cell">
    <input type="text" name="publish_date" size="64" value="{{page.publish_date|default:""}}" />
    {{page.publish_date|date:gpress.site.date_format}} {{page.update_date|time:gpress.site.time_format}} ({{page.update_user.nickname}})</td>
    <td class="gpress-admin-suggest"></td>
    </tr>
	<tr>
	<th class="gpress-admin-form-table-cell">Permalink (URL)</th>
	<td class="gpress-admin-form-table-cell">{{gpress.site.url}}/<input style="width: 80%;" type="text" name="permalink" size="64" value="{% if page.permalink %}{{page.permalink}}{% else %}{{page.key}}{% endif %}" /></td>
	<td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Category</th>
    <td class="gpress-admin-form-table-cell">
        <select name="categories_keys"  multiple="multiple">
        <option value=""></option>
        {% for cat in gpress.contents.pages_categories %}
            <option value="{{cat.key}}"{% if page.categories_keys|have_string_value:cat.key %} selected="selected"{% endif %}>{{cat.title}}</option>
        {% endfor %}
        </select>
    </td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">New Category</th>
    <td class="gpress-admin-form-table-cell">
        <input type="text" name="new_category" size="64" value="" />
    </td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Tags</th>
    <td class="gpress-admin-form-table-cell">
        <input autocomplete="off" size="64" id="suggest_tags_{{page.key}}" type="text" name="tags" value="{{page.tags|join:","}}" /><div class="tags-suggest" id="suggest_{{page.key}}"></div>
        <script type="text/javascript">
        var Tags_{{page.key}} = ['{{page.tags|join:"','"}}'];
        new TagsSuggest.LocalMulti("suggest_tags_{{page.key}}", "suggest_{{page.key}}", Tags_{{page.key}}, {dispAllKey: true});
        </script>
    </td>
    <td class="gpress-admin-suggest"></td>
    </tr>
{% endif %}
{% if gpress.newLanguage %}<input type="hidden" name="permalink"     value="{{page.permalink|default:""}}" />{% endif %}
    <tr>
    <th class="gpress-admin-form-table-cell">Language</th>
    <td class="gpress-admin-form-table-cell"><select name="language">
        <option value="en"{% ifequal page.language 'en' %} selected="selected"{% endifequal %}>English</option>
        <option value="it"{% ifequal page.language 'it' %} selected="selected"{% endifequal %}>Italiano</option>
    </select></td>
    <td class="gpress-admin-suggest"></td>
    </tr>
	<tr>
	<th class="gpress-admin-form-table-cell">Title</th>
	<td class="gpress-admin-form-table-cell"><input type="text" name="title" size="64" value="{{page.title}}" /></td>
	<td class="gpress-admin-suggest"></td>
    </tr>
	<tr>
	<td colspan="3" class="gpress-admin-form-table-cell"><textarea class="mceEditor" name="body" cols="64">{{page.body}} </textarea></td>
	</tr>
	<tr>
	<th class="gpress-admin-form-table-cell">Status</th>
	<td class="gpress-admin-form-table-cell">
{% if not page.key %}
    <input type="hidden" name="sitemap_priority"   value="{{gpress.site.default_new_page_sitemap_priority|default:"0.3"}}" />
    <input type="hidden" name="sitemap_freq"       value="{{gpress.site.default_new_page_sitemap_freq|default:"monthly"}}" />
    <input type="hidden" name="sitemap_shared"   value="{{gpress.site.default_new_page_sitemap_shared|default:"1"}}" />
    <input type="hidden" name="feeds_shared"        value="{{gpress.site.default_new_page_feeds_shared|default:"1"}}" />
    <input type="hidden" name="protection"     value="{{gpress.site.protection|default:"0"}}" />
	<input type="radio" name="publish_status" value="1" {% ifequal gpress.site.default_new_page_status "2" %}checked="checked"{% endifequal %}/> Published<br />
	<input type="radio" name="publish_status" value="0" {% ifequal gpress.site.default_new_page_status "1" %}checked="checked"{% endifequal %} /> Not listed<br />
	<input type="radio" name="publish_status" value="-1" {% ifequal gpress.site.default_new_page_status "0" %}checked="checked"{% endifequal %} /> Draft
{% else %}
  <input type="radio" name="publish_status" value="1" {% ifequal page.publish_status 1 %}checked="checked"{% endifequal %}/> Published<br />
  <input type="radio" name="publish_status" value="0" {% ifequal page.publish_status 0 %}checked="checked"{% endifequal %} /> Not listed<br />
  <input type="radio" name="publish_status" value="-1" {% ifequal page.publish_status -1 %}checked="checked"{% endifequal %} /> Draft
{% endif %}
	</td>
	<td class="gpress-admin-suggest"></td>
    </tr>
	<tr>
	<td colspan="3" style="text-align: center;"><input type="submit" name="submit" id="submit" value="Save" /></td>
	</tr>
	</table>
	</form>
        </div>
    
    
{% if page.key and not gpress.newLanguage %}
        <div class="gpress-admin-content-box">
    <a class="javascript_hide_controller" id="attachments" href="#attachments" title="Attachments"><h2>Languages</h2></a>
    <div id="javascript_hide_div_attachments">
<form action="/gp-admin/pages/update/{{page.key}}/languages" method="post" id="gpress-admin-form">
  <input type="hidden" name="key" value="{{page.key}}" />
    <table class="gpress-admin-table-list">
        <tr>
            <td class="gpress-admin-form-table-cell"><a href="/gp-admin/pages/update/{{page.key}}/languages/add" title="Add a language for this content">Add a language for this content</a></td>
        </tr>
    {% if page.languages_count %}
        <tr>
            <th class="select_all-box"></th>
            <th colspan="2"></th>
            <th></th>
            <th colspan="2" style="text-align:left;">Title</th>
            <th></th>
        </tr>
    {% for attachment in page.languages %}
        <tr class="{% cycle gpress-admin-table-row,gpress-admin-table-alt-row %}" id="row_{{attachment.key}}">
            <td class="gpress-admin-table-row-checkbox"><input class="all_entities" type="checkbox" name="{{attachment.key}}" value="1" /></td>
            <td style="text-align:center;" class="gpress-admin-form-table-cell"><img class="gpress-admin-comments-icon-small" src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/status/gpress-{{attachment.public|yesno:"Yes,No"}}.png" alt="{{attachment.public|yesno:"Yes,No"}}" /></td>
            <td style="text-align:center;" class="gpress-admin-form-table-cell">{% if attachment.thumbnail_url %}<img class="gpress-admin-table-thumbnail" src="{{attachment.thumbnail_url}}" alt="No thumb" />{% endif %}</td>
            <td class="gpress-admin-form-table-cell">{{attachment.title|default:"No title"}}</td>
            <td class="gpress-admin-form-table-cell">{% firstof content.body|striptags|truncatewords:7 content.description|striptags|truncatewords:7 content.tags|truncatewords:7 %}...</td>
            <td><a id="link_{{attachment.key}}" class="gpress-admin-button-2" href="/gp-admin/{{attachment.get_kind|lower}}/update/{{attachment.key}}" title="Edit this content">Edit</a></td>
        </tr>
    {% endfor %}
        <tr>
        <td colspan="6" style="text-align: center;"><input type="submit" name="delete" id="submit" value="Delete" /></td>
        </tr>
    {% endif %}
    </table>
    </form>
</div>
</div>
        <div class="gpress-admin-content-box">
    <a class="javascript_hide_controller" id="attachments" href="#attachments" title="Attachments"><h2>Attachments</h2></a>
    <div id="javascript_hide_div_attachments">
<form action="/gp-admin/pages/update/{{page.key}}/attachments" method="post" id="gpress-admin-form">
  <input type="hidden" name="key" value="{{page.key}}" />
    <table class="gpress-admin-form-table">
        <tr>
            <td class="gpress-admin-form-table-cell">Choose the items to attach on this page</td>
        </tr>
        {% for entries in contents|dict_to_list %}
            {% if entries %}
                <tr>
                    <td class="gpress-admin-form-table-cell text-right"><img class="gpress-admin-icon-medium" src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/{{entries.0.get_kind|lower}}/gpress-icon-{{entries.0.get_kind|lower}}-active.png" alt="{{entries.0.get_kind}}" /></td>
                    <td class="gpress-admin-form-table-cell">
                    <select name="{{entries.0.get_kind|lower}}" multiple="multiple">
                        <option value=""></option>
                    {% for entry in entries %}
                        <option value="{{entry.key}}"{% if page.attachments_keys|have_string_value:entry.key %} selected="selected"{% endif %}>{% firstof entry.title entry.permalink %} - {% firstof entry.body|striptags|truncatewords:7 entry.description|striptags|truncatewords:7 entry.mime|striptags|truncatewords:7 entry.tags|truncatewords:7 %}</option>
                    {% endfor %}
                    </select>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        <tr>
            <td colspan="2" style="text-align: center;"><input type="submit" name="attach" id="submit" value="Attach" /></td>
        </tr>
    </table>
    
    {% if page.attachments_count %}
    <table class="gpress-admin-table-list">
        <tr>
            <th class="select_all-box"></th>
            <th colspan="2"></th>
            <th></th>
            <th colspan="2" style="text-align:left;">Title</th>
            <th></th>
        </tr>
    {% for attachment in page.attachments %}
        <tr class="{% cycle gpress-admin-table-row,gpress-admin-table-alt-row %}" id="row_{{attachment.key}}">
            <td class="gpress-admin-table-row-checkbox"><input class="all_entities" type="checkbox" name="{{attachment.key}}" value="1" /></td>
            <td style="text-align:center;" class="gpress-admin-form-table-cell"><img src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/{{attachment.get_kind|lower}}/gpress-icon-{{attachment.get_kind|lower}}-small.png" alt="{{attachment.get_kind}}" /></td>
            <td style="text-align:center;" class="gpress-admin-form-table-cell"><img class="gpress-admin-comments-icon-small" src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/status/gpress-{{attachment.public|yesno:"Yes,No"}}.png" alt="{{attachment.public|yesno:"Yes,No"}}" /></td>
            <td style="text-align:center;" class="gpress-admin-form-table-cell">{% if attachment.thumbnail_url %}<img class="gpress-admin-table-thumbnail" src="{{attachment.thumbnail_url}}" alt="No thumb" />{% endif %}</td>
            <td class="gpress-admin-form-table-cell">{{attachment.title|default:"No title"}}</td>
            <td class="gpress-admin-form-table-cell">{% firstof content.body|striptags|truncatewords:7 content.description|striptags|truncatewords:7 content.tags|truncatewords:7 %}...</td>
            <td><a id="link_{{attachment.key}}" class="gpress-admin-button-2" href="/gp-admin/{{attachment.get_kind|lower}}/update/{{attachment.key}}" title="Edit this content">Edit</a></td>
        </tr>
    {% endfor %}
        <tr>
        <td colspan="6" style="text-align: center;"><input type="submit" name="delete" id="submit" value="Delete" /></td>
        </tr>
    </table>
    {% endif %}
    </form>
</div>
</div>

            <div class="gpress-admin-content-box">
<form action="/gp-admin/pages/update/{{page.key}}/sharing" method="post" id="gpress-admin-form" enctype="multipart/form-data">
<input type="hidden" name="key" value="{{page.key}}" />
    <a class="javascript_hide_controller" id="sharing" href="#sharing" title="Sharing"><h2>Sharing</h2></a>
    <div class="javascript_hide_" id="javascript_hide_div_sharing">
<table class="gpress-admin-form-table">
    <tr>
    <th class="gpress-admin-form-table-cell">Protection</th>
    <td class="gpress-admin-form-table-cell">
        <input type="radio" name="protection" value="0"{% ifequal page.protection 0 %} checked="checked"{% endifequal %}/> None<br />
        <input type="radio" name="protection" value="1"{% ifequal page.protection 1 %} checked="checked"{% endifequal %}/> Delete<br />
        <input type="radio" name="protection" value="2"{% ifequal page.protection 2 %} checked="checked"{% endifequal %} /> Update/Delete
    </td>
    <td class="gpress-admin-suggest"></td>
    </tr><!--
    <tr>
    <th class="gpress-admin-form-table-cell">Contributors</th>
    <td class="gpress-admin-form-table-cell">
        <input autocomplete="off" size="64" id="suggest_users_{{page.key}}" type="text" name="contributors_keys" value="{{page.contributors_keys|join:","}}" /><div class="tags-suggest" id="suggest_users_{{page.key}}"></div>
        <script type="text/javascript">
        var Users_{{page.key}} = ['{{gpress.contents.users_list|join:"','"}}'];
        new TagsSuggest.LocalMulti("suggest_users_{{page.key}}", "suggest_users_{{page.key}}", Users_{{page.key}}, {dispAllKey: true});
        </script>
    </td>
    <td class="gpress-admin-suggest"></td>
    </tr>--><!--
    <tr>
    <th class="gpress-admin-form-table-cell">Contributors</th>
    <td class="gpress-admin-form-table-cell">
            <div tabindex="-1" id="ids" class="clearfix tokenizer" onclick="$('autocomplete_input').focus()">
            <span class="tokenizer_stretcher">^_^</span><span class="tab_stop"><input type="text" id="hidden_input" tabindex="-1"></span>
            <div id="autocomplete_display" class="tokenizer_input">
                            <input name="contributors_keys" type="text" size="1" tabindex="" id="autocomplete_input" onmouseover="javascript:this.name=null; return false;" />
            </div>
        </div>
        <div id="autocomplete_populate" class="clearfix autocomplete typeahead_list" style="width: 158px; height: auto; overflow-y: hidden;display:none">
                <div class="typeahead_message">Type the name of a user or its email address</div>
        </div>  
        <script type="text/javascript">
        var contacts = [
        {% for u in gpress.contents.users %}
            {% ifnotequal u.email 'nobody@example.com' %}{name:"{{u.name|default:"No name"}}",email:"{{u.email}}"},{% endifnotequal %} 
        {% endfor %}{name:"Anonymous2",email:"nobody@example.com"}];
        
        get_hidden_input  = function(item) {
          return hidden_input;
        }
        addUserToList  = function(item) {
          addToList( item, 'contributors_keys', get_hidden_input);
        }
        var typeahead = new Autocompleter.LocalAdvanced('autocomplete_input', 'autocomplete_populate', contacts, {                                                  
            frequency: 0.1,
            updateElement: addUserToList,
            search_field: "name"
        });
        var hidden_input = new HiddenInput('hidden_input',typeahead);
        </script>
    </td>
    <td class="gpress-admin-suggest"></td>
    </tr>-->
    <tr>
    <th class="gpress-admin-form-table-cell">Feeds</th>
    <td class="gpress-admin-form-table-cell">
        <input type="radio" name="feeds_shared" value="1"{% ifequal page.feeds_shared 1 %} checked="checked"{% endifequal %}/> Shared<br />
        <input type="radio" name="feeds_shared" value="0"{% ifequal page.feeds_shared 0 %} checked="checked"{% endifequal %}/> Private
    </td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">SiteMap</th>
    <td class="gpress-admin-form-table-cell">
        <input type="radio" name="sitemap_shared" value="1"{% ifequal page.sitemap_shared 1 %} checked="checked"{% endifequal %}/> Shared<br />
        <input type="radio" name="sitemap_shared" value="0"{% ifequal page.sitemap_shared 0 %} checked="checked"{% endifequal %}/> Private<br />
        <select name="sitemap_priority">
            <option value="0.1"{% ifequal page.sitemap_priority 0.1 %} selected="selected"{% endifequal %}>Priority 0.1</option>
            <option value="0.2"{% ifequal page.sitemap_priority 0.2 %} selected="selected"{% endifequal %}>Priority 0.2</option>
            <option value="0.3"{% ifequal page.sitemap_priority 0.3 %} selected="selected"{% endifequal %}>Priority 0.3</option>
            <option value="0.4"{% ifequal page.sitemap_priority 0.4 %} selected="selected"{% endifequal %}>Priority 0.4</option>
            <option value="0.5"{% ifequal page.sitemap_priority 0.5 %} selected="selected"{% endifequal %}>Priority 0.5</option>
            <option value="0.6"{% ifequal page.sitemap_priority 0.6 %} selected="selected"{% endifequal %}>Priority 0.6</option>
            <option value="0.7"{% ifequal page.sitemap_priority 0.7 %} selected="selected"{% endifequal %}>Priority 0.7</option>
            <option value="0.8"{% ifequal page.sitemap_priority 0.8 %} selected="selected"{% endifequal %}>Priority 0.8</option>
            <option value="0.9"{% ifequal page.sitemap_priority 0.9 %} selected="selected"{% endifequal %}>Priority 0.9</option>
            <option value="1.0"{% ifequal page.sitemap_priority 1.0 %} selected="selected"{% endifequal %}>Priority 1.0</option>
        </select><br />
        <select name="sitemap_freq">
            <option value="monthly"{% ifequal page.sitemap_freq 'monthly' %} selected="selected"{% endifequal %}>Update Frequency: monthly</option>
            <option value="weekly"{% ifequal page.sitemap_freq 'weekly' %} selected="selected"{% endifequal %}>Update Frequency: weekly</option>
            <option value="daily"{% ifequal page.sitemap_freq 'daily' %} selected="selected"{% endifequal %}>Update Frequency: daily</option>
            <option value="hourly"{% ifequal page.sitemap_freq 'hourly' %} selected="selected"{% endifequal %}>Update Frequency: hourly</option>
        </select>
    </td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <td colspan="3" style="text-align: center;">
    <input type="submit" name="submit" id="submit" value="Save" />
    </tr>
</table>
</div>
{% endif %}
            </div>