/*
Copyright (c) 2009, Coolminds DC All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
*/

html, body {
  margin: 0;
  padding: 0;
  background: #000000;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #707070;
}

body {
  background-image: url('http://www.wallpaperbase.com/wallpapers/military/othermilitary/other_military_3.jpg');
  background-repeat: no-repeat;
  background-color: #000000;
  background-position: top center;
}

h1, h2, h3 {
  /*text-transform: lowercase;*/
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  font-style: italic;
  color: #FF941D;
}

h2 { font-size: 24px; }
.extrema-ratio-post-attachments li * { font-style: italic; padding-left: 5px; vertical-align: middle; }
.extrema-ratio-post-attachments lt { color: #ffffff; }
h3 { font-size: 18px; }

p, ol, ul, blockquote {
  line-height: 22px;
}

a {
  text-decoration: none;
  color: #BFBFBF;
}

a:hover {
  border: none;
  color: #ffffff;
}

strong {
  color: #8D8C8C;
}

/* Posts */

.extrema-ratio-post {
  text-align: justify;
  margin-bottom: 9px;
  padding: 20px 20px 20px 30px;
  background: #131313;
  border-top: 1px solid #1F1F1F;
  border-right: 1px solid #1F1F1F;
  border-bottom: 1px solid #1F1F1F;
  border-left: 1px solid #1F1F1F;
  font-size: 11px;
}

.extrema-ratio-page {
  text-align: justify;
  margin-bottom: 9px;
  padding: 20px 20px 20px 30px;
  background: #131313;
  border-top: 1px solid #1F1F1F;
  border-right: 1px solid #1F1F1F;
  border-bottom: 1px solid #1F1F1F;
  border-left: 1px solid #1F1F1F;
  font-size: 11px;
}

.extrema-ratio-post h2, .extrema-ratio-post h3 {
  margin-left: -40px;
}
/* Header */

#extrema-ratio-header {
  width: 600px;
  height: 280px;
  margin: 0 auto;
  /*background: url(/themes/extrema-ratio/static/images/extrema-ratio-header.png);*/
}

#extrema-ratio-header h1 {
  margin: 0;
  padding: 180px 0 0 20px;
  font-size: 36px;
}

#extrema-ratio-header h2 {
  margin: 0;
  padding: 0 0 0 92px;
  font-size: 16px;
}

#extrema-ratio-header a {
  border: none;
  letter-spacing: -1px;
  color: #FF941D;
}

/* Content */

#extrema-ratio-content {
  width: 580px;
  margin: 0 auto;
  padding: 10px;
}

#extrema-ratio-colOne {
  float: left;
  width: 180px;
}

#extrema-ratio-colOne ul {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

#extrema-ratio-colTwo {
  float: right;
  width: 390px;
}

#extrema-ratio-colTwo li {
  margin-left: 0;
  padding-left: 0;
  list-style: circle;
}

/* Footer */

#extrema-ratio-footer {
  clear: both;
  width: 580px;
  margin: 0 auto;
  padding-top: 20px;
}

#extrema-ratio-footer p {
  margin: 0;
  text-align: center;
  font-size: 9px;
}

#extrema-ratio-footer * {
  color: #333333;
}

#extrema-ratio-footer a:hover
{
  color: #ffffff;
}

.extrema-ratio-gallery
{
  text-align: center;
}

.extrema-ratio-gallery img
{
  width: 250px;
}

.extrema-ratio-files-list img
{
  width: 24px;
  margin-right: 3px;
}

.extrema-ratio-links-url
{
  font-size: 18px;
  color: #ffffff;
}

.extrema-ratio-link-image
{
  text-align: center;
}

.extrema-ratio-link-content
{
  vertical-align: top;
  padding: 7px;
}

.extrema-ratio-post-attachments
{
  clear:both;
}

.extrema-ratio-post-attachment {
  list-style: none;
}

.title
{
  font-size: 20px;
  display: inline;
  padding-left: 48px;
}

.title a,
.title a:visited,
.title a:hover,
.title a:active
{
  color: #ffffff;
}

.meta
{
  font-style: italic;
  font-size: 10px;
  color: #9a9a8a;
}

.entry {
  font-size: 11px;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
}
/*
.article
{
  background-image: url('/themes/extrema-ratio/static/images/icons/128x128/news.png');
  background-position: top right;
  background-repeat: no-repeat;
  min-height: 130px;
}

.post
{
  background-image: url('/themes/extrema-ratio/static/images/icons/128x128/posts.png');
  background-position: top right;
  background-repeat: no-repeat;
  min-height: 130px;
}

.media
{
  background-image: url('/themes/extrema-ratio/static/images/icons/128x128/media.png');
  background-position: top right;
  background-repeat: no-repeat;
  min-height: 130px;
}*/