<?xml version='1.0' encoding='{{gpress.site.read_encoding}}' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xml:lang="{{gpress.site.language}}" lang="{{gpress.site.language}}" id="gpress">
  <head>
    <meta http-equiv="Content-Type"   content="text/html; charset={{gpress.site.read_encoding}}" />
    <meta http-equiv="Content-Language" content="{{gpress.site.language}}" />
    
    <title>{{gpress.page.title}} :: {{gpress.site.title}}</title>
    
    <meta name="date"           content="{{gpress.page.date}}" />
    <meta name="title"          content="{{gpress.page.title}} :: {{gpress.site.title}}" />
    <meta name="keywords"       content="{{gpress.site.keywords}}" />
    <meta name="description"    content="{% firstof gpress.page.description|striptags|truncatewords:32 gpress.page.title|striptags|truncatewords:32 %} - {{gpress.site.description}}|truncatewords:144" />
  
    <meta name="googlebot"      content="{{gpress.site.googlebot}}" />
    <meta name="robots"         content="{{gpress.site.robots}}" />
    <meta name="revisit-after"  content="{{gpress.site.revisit_after}}" />
    <meta name="last-update"    content="{{gpress.site.last_update}}" />
  
    <meta name="subject"        content="{{gpress.site.description}}" />
    <meta name="author"         content="{{gpress.site.author}} &lt;{{gpress.site.author_mail}}&gt;" />
    <meta name="publisher"      content="{{gpress.site.publisher}}" />
    <meta name="reply-to"       content="{{gpress.site.reply_to}}" />
    
    <meta name="generator"      content="{{gpress.site.generator}}" />
    
    <meta name="language"       content="{{gpress.site.language}}" />
    
    <meta name="verify-v1"      content="{{gpress.site.google_verify}}" />
    <meta name="msvalidate.01"  content="{{gpress.site.live_verify}}" />
    
    <link rev="made"            href="mailto:gpress-dev@coolminds.org" />
    <link rel="shortcut icon"   href="{{gpress.site.admin_theme_url}}/gp-admin/images/layout/gpress-logo-icon.png" type="image/png" />

    <link rel="stylesheet"      href="/shared/css/gpress-reset.css" type="text/css" /> 
    <link rel="stylesheet"      href="/themes/extrema-ratio/static/css/extrema-ratio.css" type="text/css" />
    
    {% if gpress.got_feed %}
       <link rel="alternate"  href="/feeds/{{gpress.controller}}"    type="application/rss+xml" title="{{gpress.site.title}} :: {{gpress.controller|capfirst}} RSS feed" />
       <link rel="alternate"  href="/xml/{{gpress.controller}}"    type="application/xml" title="{{gpress.site.title}} :: {{gpress.controller|capfirst}} XML feed" />
       <link rel="alternate"  href="/json/{{gpress.controller}}"    type="text/json" title="{{gpress.site.title}} :: {{gpress.controller|capfirst}} JSON feed" />
    {% endif %}
     
    <!--[if lte IE 6]>
      <style>
      img, div, input { behavior: url("/shared/tools/iepngfix.htc") }
      #gpress-admin-header-line { position: relative; top: 0px; }
      </style>
      <script type="text/javascript" src="/shared/javascript/iepngfix_tilebg.js"></script>
    <![endif]-->
    
      <script type="text/javascript" src="http://www.google.com/jsapi"></script>
            <script type="text/javascript">try{google.load('prototype', '1');google.load('scriptaculous', '1');}catch(e){}</script>
      <script type="text/javascript" src="{{gpress.site.admin_theme_url}}/shared/javascript/gpress.js"></script>
      <script type="text/javascript">GP.Bootstrap();</script>
    {% ifequal gpress.controller 'media' %}
      <script type="text/javascript" src="/shared/tools/lightwindow/javascript/lightwindow.js"></script>       
      <link rel="stylesheet" type="text/css" href="/shared/tools/lightwindow/css/lightwindow.css" />
    {% endifequal %}  
  </head>
<body>