  <div id="extrema-ratio-header">
    <a href="/" title="{{gpress.site.title}}">
      <img id="extrema-ratio-header-logo" src="/themes/extrema-ratio/static/images/extrema-ratio-header.png" alt="{{gpress.site.title}}" />  
    </a>
  </div>
  <div id="extrema-ratio-content">