    </div>
    <div id="extrema-ratio-footer">
        <p>2009 &copy; <a href="http://www.coolminds.org" title="Coolminds Developer Community">Coolminds DC</a>. :: <a href="http://validator.w3.org/check/referer" title="XHTML valid" target="_blank">XHTML</a> | <a href="http://jigsaw.w3.org/css-validator/validator?uri=http://extrema-ratio.coolminds.org&profile=css3&usermedium=all&warning=no" title="CSS3 valid" target="_blank">CSS3</a>{% if gpress.got_feed %} | <a href="/feeds/{{gpress.controller}}" title="RSS Feed">RSS</a>{% endif %} | <a href="/gp-admin" title="Administration">ADMiN</a></p>
		<p>Developed by <a href="http://www.baruffaldi.info" title="Filippo Baruffaldi">Filippo Baruffaldi</a></p>
    </div>
    {{gpress.google_analytics_code}}
</body> 
</html>