  <div id="extrema-ratio-colOne">
<script type="text/javascript">
$('extrema-ratio-colOne').hide();
</script>
    <a href="http://www.erepublik.com" title="Erepublik" target="_blank"><img src="/themes/extrema-ratio/static/images/erepublik.png" alt="Erepublik" /></a>
    <div id="extrema-ratio-pulse-wdw">
    <h3>{{gpress.site.subtitle}}</h3>
    <p>{{gpress.site.description}}</p>
    </div>
    <script type="text/javascript">Effect.Pulsate('extrema-ratio-pulse-wdw', { pulses: 3, duration: 5 });</script>  
    <div id="extrema-ratio-menu">
      <ul>
        <li><a class="ajax-handler-anchor" style="vertical-align: middle;padding-left:27px;" href="/" accesskey="1" title="Homepage">Homepage</a></li>
        <li><img style="vertical-align: middle;" src="/themes/extrema-ratio/static/images/icons/24x24/posts.png" alt="ER Journal" /><a class="ajax-handler-anchor" style="vertical-align: middle;padding-left:3px;" href="/blog" accesskey="2" title="ER Journal">ER Journal</a></li>
        <li><a class="ajax-handler-anchor" style="vertical-align: middle;padding-left:27px;" href="/plugins/erepublik/soldiers" accesskey="7" title="ER Soldiers">ER Soldiers</a></li>
        <li><a class="ajax-handler-anchor" style="vertical-align: middle;padding-left:27px;" href="/plugins/erepublik/soldiers-ladder" accesskey="7" title="ER Ladder">ER Ladder</a></li>
        <li><a class="ajax-handler-anchor" style="vertical-align: middle;padding-left:27px;" href="/plugins/erepublik/companies" accesskey="8" title="ER Companies">ER Companies</a></li>
        <li><a class="ajax-handler-anchor" style="vertical-align: middle;padding-left:27px;" href="/er-numbers" accesskey="9" title="ER Numbers">ER Numbers</a></li>
        <li><a class="ajax-handler-anchor" style="vertical-align: middle;padding-left:27px;" href="/mission" accesskey="6" title="Our mission">Our Mission</a></li>
        <li><a class="ajax-handler-anchor" id="join-us-pulse" style="vertical-align: middle;padding-left:27px;" href="/join-us" accesskey="5" title="Join ER">Join ER</a></li>
        <script type="text/javascript">Effect.Pulsate('join-us-pulse', { pulses: 3, duration: 5 });</script>
        <li><a class="ajax-handler-anchor" style="vertical-align: middle;padding-left:27px;" href="/faq" accesskey="10" title="FAQ">FAQ</a></li>
        <li><img style="vertical-align: middle;" src="/themes/extrema-ratio/static/images/icons/24x24/media.png" alt="Gallery" /><a class="ajax-handler-anchor" style="vertical-align: middle;padding-left:3px;" href="/media" accesskey="3" title="Gallery">Gallery</a></li>
        <!--<li><a class="ajax-handler-anchor" href="/files" accesskey="4" title="Files">Files</a></li>
        <li><a class="ajax-handler-anchor" id="join-us-pulse" href="/contacts" accesskey="5" title="Join ER">Join ER</a></li>-->
        <li><a class="ajax-handler-anchor" style="vertical-align: middle;padding-left:27px;" href="http://divisioneextremaratio.forumfree.net" accesskey="11" title="Forum">Forum</a></li>
      </ul>
      
    {% if gpress.listing_contents.links %}
    <br />
    <img style="vertical-align: middle;" src="/themes/extrema-ratio/static/images/icons/24x24/links.png" alt="Links" /><h3 style="display:inline;vertical-align: middle;padding-left:3px;">Links</h3>
      <ul>
      {% for link in gpress.listing_contents.links %}
          <li><a class="ajax-handler-anchor" style="vertical-align: middle;padding-left:27px;" href="/{{link.get_kind|lower}}/{% if link.permalink %}{{link.permalink}}{% else %}{{link.key}}{% endif %}" title="{{link.title|default:"No title"}}">{{link.title|truncate_title:27|default:"No title"}}</a></li>
      {% endfor %}
      </ul>
    {% endif %}

    {% ifnotequal gpress.controller 'blog' %}
    {% if gpress.listing_contents.posts %}
    <br />
    <img style="vertical-align: middle;" src="/themes/extrema-ratio/static/images/icons/24x24/posts.png" alt="ER Journal" /><h3 style="display:inline;vertical-align: middle;padding-left:3px;">ER Journal</h3>
      <ul>
      {% for post in gpress.listing_contents.posts %}
          <li><a class="ajax-handler-anchor" style="vertical-align: middle;padding-left:27px;" href="{{post.view_url}}" title="{{post.title|default:"No title"}}">{{post.title|truncate_title:27|default:"No title"}}</a></li>
      {% endfor %}
      </ul>
    {% endif %}
    {% else %}
    {% if gpress.listing_contents.news %}
    <br />
    <img style="vertical-align: middle;" src="/themes/extrema-ratio/static/images/icons/24x24/posts.png" alt="ER News" /><h3 style="display:inline;vertical-align: middle;padding-left:3px;">ER News</h3>
      <ul>
      {% for news in gpress.listing_contents.news %}
          <li><a class="ajax-handler-anchor" style="vertical-align: middle;padding-left:27px;" href="{{news.view_url}}" title="{{news.title|default:"No title"}}">{{news.title|truncate_title:27|default:"No title"}}</a></li>
      {% endfor %}
      </ul>
    {% endif %}
    {% endifnotequal %}
      
    <br />
    <img style="vertical-align: middle;" src="/themes/extrema-ratio/static/images/icons/24x24/languages.png" alt="Languages" /><h3 style="display:inline;vertical-align: middle;padding-left:3px;">Languages</h3>
    <!-- Google Translate Element -->
    <div id="google_translate_element" style="font-size:11px;"></div>
    <script type="text/javascript">//<![CDATA[
    {% filter jscompress %}
    function googleTranslateElementInit(){
        new google.translate.TranslateElement({
                pageLanguage:'it',
                autoDisplay:false
            }, 'google_translate_element');
    }
    {% endfilter %}
    //]]></script><script type="text/javascript" src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
	<style>{% filter jscompress %}
    .goog-te-gadget,
    .goog-logo-link,
    .goog-te-gadget a,
    .goog-logo-link a {
	  font-size: 11px;
	}{% endfilter %}</style>
    </div>
  </div>
<script type="text/javascript">
    new Effect.Opacity($('extrema-ratio-colOne'), { from: 0, to: 1, duration: 3 });
    Effect.SlideDown('extrema-ratio-colOne');
</script>