  <div id="extrema-ratio-colTwo">
  <script type="text/javascript">
  $('extrema-ratio-colTwo').hide();
  </script>
    {{gpress.page.body}}
  </div>
  <script type="text/javascript">
  new Effect.Opacity('extrema-ratio-colTwo', { from: 0, to: 1 });
  Effect.SlideDown('extrema-ratio-colTwo');
  </script>