/*
Copyright (c) 2009, FilippoBaruffaldi
Code licensed under the BSDLicense:
http://developer.yahoo.net/yui/license.txt
*/

body
{
  height:100%;
  width: 100%;
}

body
{
  line-height: 1;
  font-family: "Lucida Grande",Verdana,"Bitstream Vera Sans",Arial,sans-serif;
  font-size: 12px; 
  background-position: bottom left;
  background-attachment:fixed;
  background-repeat: repeat-x;
}

html
{
}

html
{
  background-color: #000000;
  color: #ffffff;
}

a, a:hover, a:visited, a:active
{
  color: #bc47ff;
  text-decoration: none;
  text-decoration: none;
}

a:hover
{
  color: #dea0fe;
}

strong
{
  font-weight: bold;
}

h2
{
  text-shadow: #bc47ff 0px 1px 1px;
  font-size: 24px;
  font-family: impact;
  vertical-align: middle;
}

/* Main container */
#gpress { }
#gpress-container { }
#gpress-container-header { }
#gpress-container-footer { }

#gpress-container-table
{
  text-align:left;
  width:100%;
}

#gpress-container-menu
{
  vertical-align: top;
  width: 160px;
}

#gpress-container-content
{
  text-align: left;
  vertical-align: top;
}


/* Header bar */
#gpress-admin-header
{
  text-align: right;
  padding-top: 4px !important;
  padding-right: 7px;
  padding-bottom: 3px !important;
}

#gpress-admin-header
{
  background-color: #31313e;
  border-bottom: 1px solid rgb(201, 215, 241);
}

#gpress-admin-header-content
{
  padding: 2px;
}


/* Header bar left side */
#gpress-admin-header-content-left
{
  float: left;
  padding-left: 3px !important;
}

#gpress-admin-header-content-left h1
{
  display: inline;
}


/* Header bar right side */
#gpress-admin-header-content-right
{
  padding-right: 3px !important;
}

#gpress-admin-header a
{
  text-shadow: #bc47ff 0px 1px 1px;
}

#gpress-admin-header-title { }

/* Sub Header bar */
#gpress-admin-sub-header
{
  text-align:left;
  padding: 3px;
  height: 43px;
  background-repeat: repeat-x;
}


/* Menu on Sidebar */
.gpress-admin-menu
{
  width: 130px;
  text-align:left;
  margin: 5px;
  padding: 5px;
}

.gpress-admin-menu
{
  filter:alpha(opacity=0.9);
  -moz-opacity: 0.9;
  -khtml-opacity: 0.9;
  opacity: 0.9;

  background-color: rgb( 108,108,108 );
  background-image: url('/images/layout/gpress-admin-content-box.jpg');
  background-position: bottom left;
  background-repeat: repeat-x;

  border: 7px solid #ffffff;
  border-radius: 2em 1em 4em / 0.5em 3em;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-bottomleft: 15px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
}

.gpress-admin-menu a,
.gpress-admin-menu a:active,
.gpress-admin-menu a:visited
{
  text-shadow: #ffffff 0px 1px 1px;
  color: rgb(100, 100, 100);
  font-weight: bold;
  display: block;
}

/* Content box */
#gpress-admin-content
{
  padding: 5px;
  text-align: left;
}

#gpress-admin-content h2
{
  font-size: 24px;
  font-family: impact;
  vertical-align: middle;
}

#gpress-admin-content h3
{
  font-size: 16px;
  font-family: verdana;
}

#gpress-admin-content-title
{
  display: inline;
}

.gpress-admin-content-box
{
  padding: 15px;
  margin-top: 5px;
}

.gpress-admin-content-box
{
  filter:alpha(opacity=0.9);
  -moz-opacity: 0.9;
  -khtml-opacity: 0.9;
  opacity: 0.9;

  border: 7px solid #ffffff;
  border-radius: 2em 1em 4em / 0.5em 3em;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-bottomleft: 15px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;

  background-image: url('/images/layout/gpress-admin-content-box.jpg');
  background-position: bottom center;
  background-repeat: repeat-x;
  background-color: rgb( 108,108,108 );
}


/* Listing table */
.gpress-admin-table-list
{
  width: 100%;
  margin: 5px 0px;
  font-size: 11px;
}

.gpress-admin-table-row
{
  background-image: url('http://www.northcentralinc.com/_images/body_gray_fade.jpg');
  background-repeat: repeat-x;
  background-position: bottom;
  background-color: rgb(221,221,221);
  border: 1px solid #cccccc;
  color: #777777;
}

.gpress-admin-table-alt-row
{
  background-image: url('http://images.multiply.com/common/misc/bluegray-gray-fade.png');
  background-repeat: repeat-x;
  background-position: top;
  border: 1px solid #cccccc;
  color: #777777;
}

.gpress-admin-table-active-row
{
  background-image: url('http://www.bsccompression.com.au/skin1/images/bsc/home-category-background.jpg');
  background-repeat: repeat-x;
  background-position: top;
  border: 1px solid #cccccc;
  color: #ffffff;
  filter:alpha(opacity=1.0);
  -moz-opacity: 1.0;
  -khtml-opacity: 1.0;
  opacity: 1.0;
}

.gpress-admin-table-list td
{
  margin: 5px 0px;
  vertical-align: top;
}

.gpress-admin-table-list th, 
.gpress-admin-table-list td,
.gpress-admin-table-row,
.gpress-admin-table-alt-row,
.gpress-admin-table-active-row
{
  text-align: center;
  padding: 0px 0px 1px 0px;
  vertical-align: middle;
  min-height: 24px;
}

.gpress-admin-table-list th
{
  vertical-align:middle;
  padding: 5px !important;
}

.gpress-admin-table-list th
{
  font-size: 16px;
  font-family: arial;
  font-weight: bold;
  border-left: 1px solid #cccccc;
  background-image: url('https://secure.oami.europa.eu/rcd/images/efiling/bg_table_header.gif');
  background-repeat: repeat-x;
  background-position: top;
  background-color: rgb(205,218,228);
  text-shadow: #bc47ff 0px 1px 0px;
  color: #aaaaaa;
  text-transform: uppercase;
}

.gpress-admin-table-list th a
{
  font-size: 14px;
  color: #aaaaaa;
  font-weight: bold;
  text-shadow: #bc47ff 0px 1px 0px;
}

.gpress-admin-table-title
{
  font-size: 11px;
  font-family: arial;
  padding: 0px 1px 0px 2px;
  text-align: left;
  color: #333333;
}

.gpress-admin-table-permalink
{
  font-size: 10px;
  font-family: verdana;
  text-align: left;
}

.gpress-admin-table-comments
{
  width: 26px;
  height: 24px;
  text-align: center;
  vertical-align: top;
  padding-top: 7px !important;
}

.gpress-admin-table-comments
{
  font-size: 9px;
  font-family: palatyno;
  color: #bbbbbb;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.gpress-admin-form-table td
{
  padding-top: 2px !important;
}

.gpress-admin-form-table th
{
  font-weight: bold;
}

.gpress-admin-table-row-checkbox
{
  width: 24px;
}

/* Form Table */
.gpress-admin-form-table
{
  width: 100%;
}

.gpress-admin-form-table-cell
{
	vertical-align: top;
}

/* Footer */
#gpress-admin-footer
{
  padding: 3px;
  height: 43px;
  text-align: right;
}

#gpress-admin-footer
{
  background-repeat: repeat-x;
}

#gpress-admin-footer-text
{
  float:left;
  padding-top: 15px !important;
}

#gpress-admin-footer img
{
  padding: 7px !important;
}

#gpress-admin-footer a
{
  text-shadow: #bc47ff 0px 1px 1px;
}

/* Inputs */
input[type=text]
{
  padding: 2px;
}

input[type=text],
textarea,
select
{
  border: 1px solid #cccccc;
  border-radius: 2em 1em 4em / 0.5em 3em;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-box-sizing: content-box;
  -moz-border-radius-bottomleft:3px;
  -moz-border-radius-bottomright:3px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-topright:3px;
  -moz-box-sizing:content-box;

  background-color: rgb(242, 242, 242);
  background-image: url('https://secure.oami.europa.eu/rcd/images/efiling/bg_table_header.gif');
  background-attachment: scroll;
  background-repeat: repeat-x;
  background-position: middle center;
}

textarea,
select
{
  background-color: rgb(210,215,234);
}

/* Buttons */
input[type=button],
input[type=submit],
.gpress-admin-button-2
{
  padding: 4px;
  text-align: center;
  white-space: nowrap;
}

input[type=button],
input[type=submit]
{
  padding: 3px;
}

input[type=button],
input[type=submit],
.gpress-admin-button-2,
.gpress-admin-button-2 a,
.gpress-admin-button-2 a:hover,
.gpress-admin-button-2 a:visited,
.gpress-admin-button-2 a:active
{
  border: 1px solid #cccccc;
  border-radius: 2em 1em 4em / 0.5em 3em;
  -webkit-border-bottom-left-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -webkit-box-sizing: content-box;
  -moz-border-radius-bottomleft:7px;
  -moz-border-radius-bottomright:7px;
  -moz-border-radius-topleft:7px;
  -moz-border-radius-topright:7px;
  -moz-box-sizing:content-box;
  color: rgb(70, 70, 70);
  text-shadow: rgb(255, 255, 255) 0px 1px 0px;
  background-color: rgb(242, 242, 242);
  background-image: url('https://secure.oami.europa.eu/rcd/images/efiling/bg_table_header.gif');
  background-attachment: scroll;
  background-repeat: repeat-x;
  background-position: middle center;
  cursor: pointer;
}

.gpress-admin-button-2 a,
.gpress-admin-button-2 a:hover,
.gpress-admin-button-2 a:visited,
.gpress-admin-button-2 a:active
{
  display: block;
}

.gpress-admin-button-menu img
{
  vertical-align: middle;
}

.gpress-admin-button-menu
{
  margin: 1px;
  width:126px;
  height:24px;
}

.gpress-admin-button-menu
{
  -webkit-border-bottom-left-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -webkit-box-sizing: content-box;
  -moz-border-radius-bottomleft:7px;
  -moz-border-radius-bottomright:7px;
  -moz-border-radius-topleft:7px;
  -moz-border-radius-topright:7px;
  -moz-box-sizing:content-box;
  background-attachment: scroll;
  background-color: rgb(242, 242, 242);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  color: rgb(70, 70, 70);
  cursor: pointer;
  background-image: url('https://secure.oami.europa.eu/rcd/images/efiling/bg_table_header.gif');
  background-repeat: repeat-x;
  background-position: center middle;
  text-shadow: rgb(255, 255, 255) 0px 1px 0px;
}

.gpress-admin-button-menu a,
.gpress-admin-button-menu a:hover,
.gpress-admin-button-menu a:visited,
.gpress-admin-button-menu a:active
{
  color: rgb(100, 100, 100);
  display: block;
  vertical-align: middle;
}

/* Icons */
#gpress-admin-content-icon
{
  margin: 0px 10px 0px 10px;
  height: 64px;
  width: 64px;
  vertical-align: middle;
}

.gpress-admin-comments-icon-small
{
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.gpress-admin-icon-medium
{
  vertical-align: top;
  width: 70px;
}

/* Miscellaneous */
.gpress-courtesy-message
{
  margin-left: 70px;
}

.fullwidth
{
  width: 100%;
}

.hidden
{
  display: none;
}

.padding_5
{
	padding: 5px;
}

.text-right
{
  text-align: right;
}

/* JavaScript related */
.select_all-box
{
  width: 22px;
}

.all_entities { }

.javascript_hide { }



/* JavaScript Suggestions related */
.tags-suggest {
  position: absolute;
  background-color: #FFFFFF;
  border: 1px solid #CCCCFF;
  width: 252px;
  color: #777777;
}

.tags-suggest div {
  padding: 1px;
  display: block;
  width: 250px;
  overflow: hidden;
  white-space: nowrap;
}

.tags-suggest div.select{
  color: #FFFFFF;
  background-color: #3366FF;
}

.tags-suggest div.over{
  background-color: #99CCFF;
}

/* common */
.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
.clearfix{display:inline-block;}
html[xmlns] .clearfix{display:block;}
* html .clearfix{height:1%;}

.composer{padding-top:30px;padding-left:80px;padding:30px 0 10px 90px;}
.composer_fields{margin:0;width:458px;}
.composer_fields dt{float:left;width:65px;margin:0;padding:0 10px 0 0;text-align:right;}
.composer_fields label{display:block;padding-top:6px;}
.composer_fields .field label{padding-bottom:5px;}
.composer_fields dd{float:left;width:382px;margin:0 0 10px 0;}
.composer_fields .field input.inputtext,
.composer_fields .field textarea,
#compose_message div.tokenizer{border:1px solid #8496ba;}
#compose_message div.tokenizer{width:355px;}

.composer_fields .field #subject_field,
.composer_fields textarea{width:355px;margin:0;padding:5px 0 5px 3px;font-size:11px;}
.composer_fields textarea{height:100px;}


/* autcompleter.advancedlocal css */
.tokenizer{min-height:5px;padding:0px 0px 3px 3px;width:100%;font-size:11px;}
.tokenizer_locked{}
.tokenizer,
.tokenizer *{cursor:text}
.tokenizer input{width:100%;}
.tokenizer .tokenizer_input,
.tokenizer .token{float:left;margin-right:3px;margin-top:3px;}
.tokenizer .tab_stop,
.tokenizer .tokenizer_stretcher{display:block;float:left;overflow:hidden;width:0px;}
.tokenizer .tab_stop{height:0px;}
.tokenizer .tokenizer_stretcher{padding-top:7px;}
#autocomplete_input{width:20px;}
#facebook .tokenizer .tab_stop input{border:0px solid black;display:inline;position:relative;left:-500px;}
#facebook .tokenizer .tokenizer_input_borderless {left:4px;margin-left:-1px;overflow:hidden;position:relative;}
#facebook .tokenizer_input_borderless  #autocomplete_input{border:3px solid white!important;border-left:none;display:block;margin:-3px 3px -4px -2px;padding:0px!important;}
/*IE6-/Win only*/
/*\*/ * html#facebook .tokenizer_input_borderless #autocomplete_input { border:3px solid black;margin: -3px 3px -4px 14px:padding-left:10px; } /**/
.tokenizer div:-moz-first-node{padding-top:1px!important;}
.tokenizer_input{max-width:450px;overflow:hidden;padding:1px 0px;}
#facebook .tokenizer_input input,
.tokenizer_input_shadow{border:0px solid black;outline:0;font-family:'lucida grande', tahoma, verdana, arial, sans-serif;font-size:11px;padding:0px 5px;margin:0 0 -1px 0;white-space:pre;}
.tokenizer_input_shadow{display:inline;left:-10000px;position:absolute;top:-10000px;}
.tokenizer .tokenizer_input_shadow{height:0px;display:block;left:0px;overflow:hidden;position:relative;top:0px;}
div.tokenizer .token{background-image:url('/images/3rd-party/autocompleter/token.gif');background-repeat:no-repeat;color:black;white-space:nowrap;}
div.tokenizer .token span{background-image:url('/images/3rd-party/autocompleter/token.gif');background-position:top right;background-repeat:no-repeat;display:block;}
div.tokenizer .token span span{background-position:bottom right;}
div.tokenizer .token span span span{background-position:bottom left;}
div.tokenizer .token span span span span{background-image:none;padding:2px 3px 2px 5px;}
div.tokenizer.tokenizer_locked .token span span span span{padding-right:5px;}
html div.tokenizer_locked .token:hover,
html div.tokenizer_locked .token:hover span{background-image:url('/images/3rd-party/autocompleter/token.gif');}
div.tokenizer .token:hover,
div.tokenizer .token:hover span{background-image:url('/images/3rd-party/autocompleter/token_hover.gif');text-decoration:none;}
div.tokenizer .token_selected,
div.tokenizer .token_selected span,
div.tokenizer .token_selected:hover,
div.tokenizer .token_selected:hover span{background-image:url('/images/3rd-party/autocompleter/token_selected.gif');color:white;text-decoration:none;}
div.tokenizer .token span.x,
div.tokenizer .token span.x_hover,
div.tokenizer .token:hover span.x,
div.tokenizer .token:hover span.x_hover{background-image:url('/images/3rd-party/autocompleter/token_x.gif');background-position:4px 2px;cursor:pointer;display:inline;padding:0px 6px 0px 5px;}
div.tokenizer.tokenizer_locked .token span.x,
div.tokenizer.tokenizer_locked .token span.x_hover{display:none;}
div.autocomplete {  position:absolute;  width:355px;  color: black; background-color:white;  border:1px solid #888;  margin-top:-2px;  padding:0px;}
div.autocomplete ul {  list-style-type:none;margin:0px; padding:0px;color: black; }
div.autocomplete ul li.selected { background-color: #ffb;color: black; }
div.autocomplete ul li {  list-style-type:none;  display:block;  margin:0;  padding:2px;  height:32px;cursor:pointer;}
/* end of autcompleter.advancedlocal css */



.subsection_tabs { }

.subsection_tabs li { }

.subsection_tabs a,
.subsection_tabs a:hover,
.subsection_tabs a:active,
.subsection_tabs a:visited
{
  font-family: impact;
  font-size: 14px;
  color: #ffffff;
  padding: 0px 3px;
}

.tab
{
  color: #aaaaaa;
  display: inline;
  background-color: white;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-box-sizing: content-box;
  -moz-border-radius-topleft:5px;
  -moz-border-radius-topright:5px;
  -moz-box-sizing:content-box;
  background-attachment: scroll;
  background-color: rgb(242, 242, 242);
  background-repeat: repeat-x;
  border-top: 2px solid #aaaaaa;
  border-left: 2px solid #aaaaaa;
  border-right: 1px solid #aaaaaa;
  cursor: pointer;
  background-image: url('http://www.cyberprotest.org/Forum/Themes/Cyber/images/in_background_1.jpg');
  background-repeat: repeat-x;
  background-position: center middle;
  text-shadow: #bc47ff 0px 1px 1px;
  margin-right: -3px;
  padding: 2px 0px;
}

.tabs-footer
{
  font-weight: bold;
  margin: 0 auto;
  text-align:center;
  color: #aaaaaa;
  background-color: white;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-box-sizing: content-box;
  -moz-border-radius-bottomleft:5px;
  -moz-border-radius-bottomright:5px;
  -moz-box-sizing:content-box;
  background-attachment: scroll;
  background-color: rgb(242, 242, 242);
  background-repeat: repeat-x;
  border: 2px solid #ffffff;
  cursor: pointer;
  background-image: url('http://www.cyberprotest.org/Forum/Themes/Cyber/images/in_background_1.jpg');
  background-repeat: repeat-x;
  background-position: center middle;
  text-shadow: #bc47ff 0px 1px 1px;
  margin-right: -2px;
  padding: 3px 0px;
}

.tab .active
{
  -webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -webkit-box-sizing: content-box;
  -moz-border-radius-topleft:5px;
  -moz-border-radius-topright:5px;
  -moz-box-sizing:content-box;
  border: 2px solid #ffffff;
  color: red;
}

.gpress-admin-form-table-tab-content
{
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  margin-top: 4px;
  margin-left: 1px;
  width: 100%;
  background-color: #797979;
  background-image: url('http://www.cyberprotest.org/Forum/Themes/Cyber/images/in_background_1.jpg');
  background-repeat: repeat-x;
  background-position: top middle;
}

.gpress-admin-form-table-tab-content-cell
{
  padding: 3px;
}

.gpress-admin-form-table-tab-content-cell-header
{
  padding: 10px;
  text-align: justify;
  height: 70px;
}

th.gpress-admin-form-table-tab-content-cell
{
  font-weight: bold;
  text-align: right;
  vertical-align: top;
  padding-top: 5px;
  text-shadow: #82ffff 0px 1px 1px;
  width: 200px;
}

.gpress-admin-form-table-tab-content-section-description
{
  vertical-align: top;
  text-align: justify;
  font-size: 10px;
  font-style:italic;
  border: 1px solid #333333;
  background-color: #111111;
}

.gpress-admin-form-table
{
  border: 1px solid #ffffff;
  color: #000000;
  margin-top: 4px;
  margin-left: 1px;
  width: 100%;
  background-color: rgb(210,227,234);
  background-image: url('http://www.sinamex.com/home/table-background-2.jpg');
  background-repeat: repeat-x;
  background-position: bottom middle;
}

.gpress-admin-form-table td,
.gpress-admin-form-table th
{
  padding: 3px;
}

.gpress-admin-form-table-cell
{
  padding: 3px;
}

.gpress-admin-form-table-cell-header
{
  padding: 10px;
  text-align: justify;
  height: 70px;
}

th.gpress-admin-form-table-cell
{
  font-weight: bold;
  text-align: right;
  vertical-align: top;
  padding-top: 5px;
  text-shadow: #82ffff 0px 1px 1px;
  width: 200px;
}

.gpress-admin-form-table-section-description
{
  vertical-align: top;
  text-align: justify;
  font-size: 10px;
  font-style:italic;
  border: 1px solid #333333;
  background-color: #111111;
}

.gpress-error-box
{
  padding: 4px;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -webkit-box-sizing: content-box;
  -moz-border-radius-topleft:5px;
  -moz-border-radius-topright:5px;
  -moz-border-radius-bottomleft:5px;
  -moz-border-radius-bottomright:5px;
  border: 4px solid red;
  color: #000000;
  background-color: rgb(210,227,234);
  background-image: url('http://www.sinamex.com/home/table-background-2.jpg');
  background-repeat: repeat-x;
  background-position: bottom middle;
  font-family: arial;
}

.gpress-info-box
{
  padding: 4px;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -webkit-box-sizing: content-box;
  -moz-border-radius-topleft:5px;
  -moz-border-radius-topright:5px;
  -moz-border-radius-bottomleft:5px;
  -moz-border-radius-bottomright:5px;
  border: 4px solid green;
  color: #000000;
  background-color: rgb(210,227,234);
  background-image: url('http://www.sinamex.com/home/table-background-2.jpg');
  background-repeat: repeat-x;
  background-position: bottom middle;
  font-family: arial;
}

.gpress-warning-box
{
  padding: 4px;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -webkit-box-sizing: content-box;
  -moz-border-radius-topleft:5px;
  -moz-border-radius-topright:5px;
  -moz-border-radius-bottomleft:5px;
  -moz-border-radius-bottomright:5px;
  border: 4px solid orange;
  color: #000000;
  background-color: rgb(210,227,234);
  background-image: url('http://www.sinamex.com/home/table-background-2.jpg');
  background-repeat: repeat-x;
  background-position: bottom middle;
  font-family: arial;
  font-weight: bold;
}

.gpress-error-box-details
{
  padding: 10px;
  font-style: italic;
}

.gpress-error-box-message
{
}