

div#gpress-container
{
  text-align:left;
  position: relative;
  height:100%;
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

body>div#gpress-container
{
  text-align:left;
  height: auto;
  min-height: 100%;
}



.gpress-admin-button
{
  border: 1px solid #bc47ff;
  padding: 3px 5px;
  background-color: #555555;
  color: #bc47ff;
  text-decoration: none;
  border-radius: 2em 1em 4em / 0.5em 3em;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-bottomleft: 15px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  background-image: url('https://secure.oami.europa.eu/rcd/images/efiling/bg_table_header.gif');
  background-repeat: repeat-x;
  background-position: top;
}









#gpress-admin-content input[type=text],
#gpress-admin-content input[type=button],
#gpress-admin-content textarea,
#gpress-admin-content select
{
  width: 100%;
  color: #ffffff;
  min-height: 18px;
  padding-top: 2px !important;
  padding-left: 3px !important;
  //border: 1px inset #ffffff;
  border: 1px solid #cccccc;
  border-radius: 2em 1em 4em / 0.5em 3em;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  background-image: url('https://secure.oami.europa.eu/rcd/images/efiling/bg_table_header.gif');
  background-repeat: repeat-x;
  background-position: top;
  background-color: rgb(205,218,228);
  color: #333333;
}

.gpress-admin-form-table-cell select
{
  width: 100%;
}


.gpress-admin-table-static-width
{
  font-size: 11px;
  /*width: 150px;*/
  height: 24px;
  max-heigth: 24px;
  min-heigth: 24px;
  overflow: hidden;
}

/*
 * FORM TABLE
 */

.gpress-admin-form-table-section-description
{
  font-size: 13px;
  font-family: georgia;
  text-align: left;
}

.gpress-admin-form-table-section-title
{
  border-bottom: 1px solid #ffffff;
  margin-bottom: 5px;
}

.gpress-admin-form-table
{
  margin: 15px;
  width: 100%;
}

.gpress-admin-form-table-cell
{
  padding: 5px 5px;
  vertical-align: top;
  text-align: left;
}







/* COURTESY MESSAGES & ICONS */

div.gpress-info-box
{
  font-weight: bold;
  color: #44ff67;
  text-align: center;
  margin: 0 auto;
  background-color: #7f7e7e;
  border-radius: 2em 1em 4em / 0.5em 3em;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-bottomleft: 15px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  padding: 10px 0px;
}

.gpress-error-box
{
  font-weight: bold;
  color: red;
  text-align: center;
  margin: 0 auto;
  background-color: #7f7e7e;
  border-radius: 2em 1em 4em / 0.5em 3em;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-bottomleft: 15px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  padding: 10px 0px;
}

#gpress-error-image
{
  float: left;
  width: 150px; 
  height: 150px;
}