	<head>
		<meta http-equiv="Content-Type"		content="text/html; charset={{gpress.site.read_encoding}}" />
		<meta http-equiv="Content-Language"	content="{{gpress.site.language}}" />
		
		<title>{{gpress.site.title}} :: {{gpress.page.title}}</title>
		
		<meta name="date"           content="{{gpress.page.date}}" />
		<meta name="title"          content="{{gpress.page.title}} :: {{gpress.site.title}}" />
		<meta name="keywords"       content="{{gpress.site.keywords}}" />
		<meta name="description"    content="{{gpress.page.description|striptags}} - {{gpress.site.description}}" />
	
	    <meta name="googlebot"      content="{{gpress.site.googlebot}}" />
		<meta name="robots"         content="{{gpress.site.robots}}" />
		<meta name="revisit-after"  content="{{gpress.site.revisit_after}}" />
		<meta name="last-update"    content="{{gpress.site.last_update}}" />
	
		<meta name="subject"        content="{{gpress.site.description}}" />
		<meta name="author"         content="{{gpress.site.author}} &lt;{{gpress.site.author_mail}}&gt;" />
		<meta name="publisher"      content="{{gpress.site.publisher}}" />
		<meta name="reply-to"       content="{{gpress.site.reply_to}}" />
		
		<meta name="generator"      content="{{gpress.site.generator}}" />
		
		<meta name="language"       content="{{gpress.site.language}}" />
	  
		<meta name="verify-v1"	         content="{{gpress.site.google_verify}}" />
		<meta name="msvalidate.01"  content="{{gpress.site.live_verify}}" />
		
		<link rev="made"            href="mailto:gpress-dev@coolminds.org" />
		<link rel="shortcut icon"   href="{{gpress.site.admin_theme_url}}/gp-admin/images/layout/gpress-logo-icon.png" type="image/png" />
		
		<link rel="stylesheet"      href="/shared/css/gpress-reset.css" type="text/css" />
		<link rel="stylesheet"      href="{{gpress.site.admin_theme_url}}/gp-admin/css/gpress-admin.css" type="text/css" />
		
		{% if gpress.got_feed %}
       <link rel="alternate" href="/feeds/{{gpress.controller}}"    type="application/rss+xml" title="{{gpress.site.title}} :: {{gpress.controller|capfirst}} RSS feed" />
       <link rel="alternate" href="/xml/{{gpress.controller}}"    type="application/xml" title="{{gpress.site.title}} :: {{gpress.controller|capfirst}} XML feed" />
       <link rel="alternate" href="/json/{{gpress.controller}}"    type="text/json" title="{{gpress.site.title}} :: {{gpress.controller|capfirst}} JSON feed" />
	    {% endif %}

	    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">//<![CDATA[
    (function(){ {% filter jscompress %}
	    try{
	       google.load('prototype', '1');
	       google.load('scriptaculous', '1');
	    }catch(e){
	       alert("WARNING: check your internet connection please.\nSome administration capabilities are disabled.\nIf this error persists, contact the developers.");
	    } /*
        Object.prototype.attachEvent = function (on, cb) {
            $(this).bind(on, cb);
            return true;
        };
        Object.prototype.dispatchEvent = function (on, data) {
            $(this).trigger(on, data);
            return true;
        };*/
     {% endfilter %}
     })();//]]></script>
        
        <script type="text/javascript" src="/shared/javascript/livepipe/livepipe.js"></script>
        <script type="text/javascript" src="/shared/javascript/livepipe/tabs.js"></script>
	    <!--<script type="text/javascript" src="/tinymce/tiny_mce.js"></script>-->
	    <script type="text/javascript" src="/tools/tiny_mce/tiny_mce.js"></script>
		<script type="text/javascript" src="/shared/javascript/gpress.js"></script>
        <!--<script type="text/javascript" src="/shared/javascript/autocompleter.js"></script>-->
        <script type="text/javascript" src="/shared/javascript/suggest.js"></script>
	    <script type="text/javascript">GP.Bootstrap();</script>
	    <!--[if lte IE 6]>
            <style>
            img, div, a, input { behavior: url(/shared/tools/iepngfix.htc) }
            #gpress-admin-header-line { position: relative; top: 0px; }
            </style>
        <![endif]-->
        <!--<script type="text/javascript" src="/shared/javascript/iepngfix_tilebg.js"></script>-->
	</head>