		<div id="gpress-admin-content">
			{% if gpress.module %}
				{% if module.image %}
					<img id="gpress-admin-content-icon" src="/modules/{{module.id}}/static/images/logo-page.png" alt="" />
				{% else %}
					<img id="gpress-admin-content-icon" src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/plugin/gpress-icon-plugin-nobg.png" alt="" />
				{% endif %}
			{% else %}
				<img id="gpress-admin-content-icon" src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/{{gpress.id}}/gpress-icon-{{gpress.id}}-nobg.png" alt="" />
			{% endif %}
			<h2 id="gpress-admin-content-title">{{gpress.page.title}}</h2>
			<div class="gpress-admin-content-box">
			{{gpress.page.body}}
			</div>
		</div>