{% if page or file or media or link or post or article or news or contacts or contact or links or posts or pages or medias or files %}
    {% ifequal gpress.actionstatus -1 %}
        <div class="gpress-error-box">
        Your changes has not been applied.
        {% if gpress.error %}
        <div class="gpress-error-box-details">
            <div class="gpress-error-box-message">
                <b>Details</b>: <i>{{gpress.error.message}}</i>
            </div>
        </div>
        {% endif %}
        </div>
        <table class="gpress-admin-form-table">
    {% else %}
        <table class="gpress-admin-form-table">
        {% ifnotequal page.protection 2 %}{% if gpress.actionstatus %}
            <tr>
            <td colspan="3"><div class="gpress-info-box">Your changes has been applied.</div></td>
            </tr>
        {% endif %}{% endifnotequal %}
    {% endifequal %}
{% else %}
        <table class="gpress-admin-form-table">
{% endif %}