		<div id="gpress-admin-footer" style="background-image: url('{{gpress.site.admin_theme_url}}/gp-admin/images/layout/gpress-bar.png');">
			<div id="gpress-admin-footer-text">&copy;{{gpress.site.date.y}} Coolminds DC :: Thank you for using <a href="http://www.baruffaldi.info" title="GPress" target="_blank">GPress</a>. | <a href="http://www.gpress.coolminds.org" title="Documentation" target="_blank">Documentation</a> | <a href="mailto:gpress-dev@coolminds.org" title="Feedback">Feedback</a></div>
			<!--<img id="appengine-logo" src="{{gpress.site.admin_theme_url}}/gp-admin/images/3rd-party/appengine-black-120x30.gif" alt="Powered by Google App Engine" />-->
			<img id="appengine-logo" src="http://code.google.com/appengine/images/appengine-silver-120x30.gif" alt="Powered by Google App Engine" />
		</div>