		<div id="gpress-admin-header">
			<div id="gpress-admin-header-content">
				<div id="gpress-admin-header-content-left">
					<h1 id="gpress-admin-header-title"><a href="{{gpress.site.url}}" title="{{gpress.site.title}}">{{gpress.site.title}}</a></h1> - Happy publishing :)
				</div>
				<div id="gpress-admin-header-content-right">
					<b>{{gpress.user.name}}</b> | 
                        <a href="/gp-admin/mailbox" title="Read new messages">
					{% if gpress.user.new_messages_count %}
					    <p style="display:inline;color: red;font-weight:bold">{{gpress.user.new_messages_count}}</p>
                            <img src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/mailbox/active-mailbox.png" alt="Mailbox" />
                    {% else %}
                    <img src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/mailbox/mailbox.png" alt="Mailbox" /> 
					{% endif %}
                        </a> |
					{% if not gpress.user.found %}
						<a href="/gp-admin/users/add/me" title="Add me on users database">Register</a> |
					{% endif %}
						<a href="https://www.google.com/accounts/ManageAccount" title="Google Account" target="_blank">Google Account</a> |
					{% if gpress.user.key %}
						<a href="/gp-admin/users/update/{{gpress.user.key}}" title="Profile" target="_blank">Profile</a> | 
					{% endif %}
					{% if gpress.user.is_developer %}
						<a href="/admin" title="GAE" target="_blank">GAE</a> | 
					{% endif %}
					<a href="/logout" title="Exit">Exit</a>
				</div>
			</div>
		</div>
		<div id="gpress-admin-sub-header" style="background-image: url('{{gpress.site.admin_theme_url}}/gp-admin/images/layout/gpress-bar.png');">
			<img src="{{gpress.site.admin_theme_url}}/gp-admin/images/layout/gpress-logo.png" alt="GPress" />
		</div>