		<div class="gpress-admin-menu">
		
				<p class="gpress-admin-button-menu"><a href="/gp-admin" title="Dashboard"><img src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/dashboard/gpress-icon-dashboard-small{% ifequal gpress.id "dashboard" %}-active{% endifequal %}.png" alt="-----" /> Dashboard</a></p>
				{% ifequal gpress.site.news_enabled "1" %}<p class="gpress-admin-button-menu"><a href="/gp-admin/news" title="News"><img src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/news/gpress-icon-news-small{% ifequal gpress.id "news" %}-active{% endifequal %}.png" alt="-----" /> News</a></p>{% endifequal %}
                {% ifequal gpress.site.posts_enabled "1" %}<p class="gpress-admin-button-menu"><a href="/gp-admin/posts" title="Posts"><img src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/posts/gpress-icon-posts-small{% ifequal gpress.id "posts" %}-active{% endifequal %}.png" alt="-----" /> Posts</a></p>{% endifequal %}
				{% ifequal gpress.site.pages_enabled "1" %}<p class="gpress-admin-button-menu"><a href="/gp-admin/pages" title="Pages"><img src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/pages/gpress-icon-pages-small{% ifequal gpress.id "pages" %}-active{% endifequal %}.png" alt="-----" /> Pages</a></p>{% endifequal %}
                {% ifequal gpress.site.media_enabled "1" %}<p class="gpress-admin-button-menu"><a href="/gp-admin/media" title="Media"><img src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/media/gpress-icon-media-small{% ifequal gpress.id "media" %}-active{% endifequal %}.png" alt="-----" /> Media</a></p>{% endifequal %}
                {% ifequal gpress.site.files_enabled "1" %}<p class="gpress-admin-button-menu"><a href="/gp-admin/files" title="Files"><img src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/files/gpress-icon-files-small{% ifequal gpress.id "files" %}-active{% endifequal %}.png" alt="-----" /> Files</a></p>{% endifequal %}
				{% ifequal gpress.site.links_enabled "1" %}<p class="gpress-admin-button-menu"><a href="/gp-admin/links" title="Links"><img src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/links/gpress-icon-links-small{% ifequal gpress.id "links" %}-active{% endifequal %}.png" alt="-----" /> Links</a></p>{% endifequal %}
				{% ifequal gpress.site.contacts_enabled "1" %}<p class="gpress-admin-button-menu"><a href="/gp-admin/contacts" title="Contacts"><img src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/contacts/gpress-icon-contacts-small{% ifequal gpress.id "contacts" %}-active{% endifequal %}.png" alt="-----" /> Contacts</a></p>{% endifequal %}
						
				<!--
				<dt class="gpress-admin-menu-list-separator">
				<p class="gpress-admin-button-menu"><a href="/gp-admin/comments" title="Comments"><img src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/comments/gpress-icon-comments-small{% ifequal gpress.id "comments" %}-active{% endifequal %}.png" alt="" /> Comments</a></p>
				<a href="/gp-admin/guestbook" title="Guestbook"><img src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/guestbook/gpress-icon-guestbook-small{% ifequal gpress.id "guestbook" %}-active{% endifequal %}.png" alt="" /> Guestbook</a>
				-->

				{% if gpress.plugins %}
				{% for module in gpress.plugins %}
					<p class="gpress-admin-button-menu">
						<a href="/gp-admin/plugins/{{module.id}}/" title="{{module.name}}">
						{% if module.logo_image %}
							<img src="/plugins/{{module.id}}/static/images/logo{% ifequal gpress.id module.id %}-active{% endifequal %}.png" alt="" />
						{% else %}
							<img src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/plugin/gpress-icon-plugin-small{% ifequal gpress.id module.id %}-active{% endifequal %}.png" alt="-----" />
						{% endif %}
							{{module.name}}
						</a></p>
					
				{% endfor %}
				{% endif %}
				
                {% if gpress.user.is_administrator %}
                <!--
                <dt class="gpress-admin-menu-list-separator">
                <p class="gpress-admin-button-menu"><a href="#themes" title="Themes"><img src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/themes/gpress-icon-themes-small{% ifequal gpress.id "themes" %}-active{% endifequal %}.png" alt="" /> Themes</a></p>
                <p class="gpress-admin-button-menu"><a href="#plugins" title="Plugins"><img src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/plugins/gpress-icon-plugins-small{% ifequal gpress.id "plugins" %}-active{% endifequal %}.png" alt="" /> Plugins</a></p>
                -->
                <p class="gpress-admin-button-menu"><a href="/gp-admin/users" title="Users"><img src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/users/gpress-icon-users-small{% ifequal gpress.id "users" %}-active{% endifequal %}.png" alt="-----" /> Users</a></p>
                <p class="gpress-admin-button-menu"><a href="/gp-admin/settings" title="Settings"><img src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/settings/gpress-icon-settings-small{% ifequal gpress.id "settings" %}-active{% endifequal %}.png" alt="-----" /> Settings</a></p>
                {% endif %}
                {% if gpress.user.is_developer %}
                <p class="gpress-admin-button-menu"><a href="/gp-admin/dev-center" title="DevCenter"><img src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/plugin/gpress-icon-plugin-small{% ifequal gpress.id 'DevCenter' %}-active{% endifequal %}.png" alt="-----" /> DevCenter</a></p>
                {% endif %}
		</div>