<h2>Message</h2>
<table>
    <tr>
    <th class="gpress-admin-form-table-cell">Date (User)</th>
    <td class="gpress-admin-form-table-cell">
    {{message.date|date:gpress.site.date_format}} {{message.date|time:gpress.site.time_format}} ({{message.user.nickname}})</td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Destinations</th>
    <td class="gpress-admin-form-table-cell">{{message.destinations|join:","|default:"Public form enabled users"}}</td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Name</th>
    <td class="gpress-admin-form-table-cell">{{message.name|default:"Anonymous"}}</td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Reference</th>
    <td class="gpress-admin-form-table-cell">{{message.reference|default:"Unknown"}}</td>
    <td class="gpress-admin-suggest"></td>
    </tr>
	<tr>
	<td colspan="3" class="gpress-admin-form-table-cell"><pre>{{message.body}}</pre></textarea></td>
	</tr>
	</table>