<form action="/gp-admin/media/{% if media.key and not gpress.newLanguage %}update/{{media.key}}{% else %}add{% endif %}" method="post" id="gpress-admin-form" enctype="multipart/form-data">
<h2>Content</h2>
{% include '../_shared/error_box.html' %}
{% if media.key and not gpress.newLanguage %}
{% ifnotequal media.protection 0 %}
    {% ifnotequal media.user gpress.user_instance %}
        <tr>
        <td colspan="3"><div class="gpress-warning-box">Warning: you cannot {% ifequal media.protection 1 %}delete{% endifequal %}{% ifequal media.protection 2 %}update or delete{% endifequal %} this content.</div></td>
        </tr>
    {% endifnotequal %}
{% endifnotequal %}
<input type="hidden" name="key" value="{{media.key}}" />
    <tr>
    <td colspan="3" class="gpress-admin-form-table-cell"><img src="{{media.thumbnail_url}}" alt="No thumbnail available" /></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Creation date</th>
    <td class="gpress-admin-form-table-cell">
    <input type="text" name="date" size="64" value="{{media.date}}" />
    {{media.date|date:gpress.site.date_format}} {{media.date|time:gpress.site.time_format}} ({{media.user.nickname}})</td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Last update</th>
    <td class="gpress-admin-form-table-cell">
    <input type="text" name="update_date" size="64" value="{{media.update_date}}" />
    {{media.update_date|date:gpress.site.date_format}} {{media.update_date|time:gpress.site.time_format}} ({{media.update_user.nickname}})</td>
    <td class="gpress-admin-suggest"></td>
    </tr>
	<tr>
	<th class="gpress-admin-form-table-cell">Filename</th>
	<td class="gpress-admin-form-table-cell"><input style="width: 60%;" type="text" name="filename" size="64" value="{% if media.filename_without_extension %}{{media.filename_without_extension}}{% endif %}" />.{{media.extension}}</td>
	<td class="gpress-admin-suggest"></td>
    </tr>
	<tr>
	<th class="gpress-admin-form-table-cell">Mimetype</th>
	<td class="gpress-admin-form-table-cell">
	{% if media.mimetype %}
	{{media.mimetype}}
	{% else %}
    <select name="mimetype">
        <option value=""></option>
    {% for m in mimetypes %}
        <option value="{{m.1}}">{{m.0}}</option>
    {% endfor %}
	</select>
	{% endif %}
	</td>
	<td class="gpress-admin-suggest"></td>
    </tr>
	<tr>
	<th class="gpress-admin-form-table-cell">Size</th>
	<td class="gpress-admin-form-table-cell">{{media.size|filesizeformat}}</td>
	<td class="gpress-admin-suggest"></td>
    </tr>
  <tr>
  <th class="gpress-admin-form-table-cell">Download address (URL)</th>
  <td class="gpress-admin-form-table-cell">{{gpress.site.url}}/media/<input type="text" name="permalink" size="64" value="{% if media.permalink %}{{media.permalink}}{% else %}{{media.key}}{% endif %}" /></td>
  <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Albums</th>
    <td class="gpress-admin-form-table-cell">
        <select name="albums_keys"  multiple="multiple">
        <option value=""></option>
        {% for cat in gpress.public_contents.media_albums %}
            <option value="{{cat.key}}"{% if media.albums_keys|have_string_value:cat.key %} selected="selected"{% endif %}>{{cat.title}}</option>
        {% endfor %}
        </select>
    </td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">New Album</th>
    <td class="gpress-admin-form-table-cell">
        <input type="text" name="new_album" size="64" value="" />
    </td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Tags</th>
    <td class="gpress-admin-form-table-cell">
        <input autocomplete="off" size="64" id="suggest_tags_{{media.key}}" type="text" name="tags" value="{{media.tags|join:","}}" /><div class="tags-suggest" id="suggest_{{media.key}}"></div>
        <script type="text/javascript">
        var Tags_{{media.key}} = ['{{media.tags|join:"','"}}'];
        new TagsSuggest.LocalMulti("suggest_tags_{{media.key}}", "suggest_{{media.key}}", Tags_{{media.key}}, {dispAllKey: true});
        </script>
    </td>
    <td class="gpress-admin-suggest"></td>
    </tr>
{% endif %}
{% if gpress.newLanguage %}<input type="hidden" name="permalink"     value="{{media.permalink|default:""}}" />
{% endif %}
    <tr>
    <th class="gpress-admin-form-table-cell">File</th>
    <td class="gpress-admin-form-table-cell"><input type="file" name="stream" value="Select the media to upload" /></td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Language</th>
    <td class="gpress-admin-form-table-cell"><select name="language">
        <option value="en"{% ifequal media.language 'en' %} selected="selected"{% endifequal %}>English</option>
        <option value="it"{% ifequal media.language 'it' %} selected="selected"{% endifequal %}>Italiano</option>
    </select></td>
    <td class="gpress-admin-suggest"></td>
    </tr>
	<tr>
	<th class="gpress-admin-form-table-cell">Title</th>
	<td class="gpress-admin-form-table-cell"><input type="text" name="title" size="64" value="{% if media.title %}{{media.title}}{% endif %}" /></td>
	<td class="gpress-admin-suggest"></td>
    </tr>
	<tr>
	<th class="gpress-admin-form-table-cell">Description</th>
	<td colspan="2" class="gpress-admin-form-table-cell"><textarea name="description" cols="64">{% if media.description %}{{media.description}}{% endif %}</textarea></td>
    </tr>
	<tr>
	<th class="gpress-admin-form-table-cell">Status</th>
	<td class="gpress-admin-form-table-cell">
{% if not media.key %}
    <input type="hidden" name="sitemap_priority"   value="{{gpress.site.default_new_media_sitemap_priority|default:"0.3"}}" />
    <input type="hidden" name="sitemap_freq"       value="{{gpress.site.default_new_media_sitemap_freq|default:"monthly"}}" />
    <input type="hidden" name="sitemap_shared"   value="{{gpress.site.default_new_media_sitemap_shared|default:"1"}}" />
    <input type="hidden" name="feeds_shared"        value="{{gpress.site.default_new_media_feeds_shared|default:"1"}}" />
    <input type="hidden" name="protection"     value="{{gpress.site.protection|default:"0"}}" />
	<input type="radio" name="publish_status" value="1" {% ifequal gpress.site.default_new_media_status "1" %}checked="checked"{% endifequal %}/> Published<br />
	<input type="radio" name="publish_status" value="0" {% ifequal gpress.site.default_new_media_status "0" %}checked="checked"{% endifequal %} /> Not listed<br />
	<input type="radio" name="publish_status" value="-1" {% ifequal gpress.site.default_new_media_status "-1" %}checked="checked"{% endifequal %} /> Draft
{% else %}
  <input type="radio" name="publish_status" value="1" {% ifequal media.publish_status 1 %}checked="checked"{% endifequal %}/> Published<br />
  <input type="radio" name="publish_status" value="0" {% ifequal media.publish_status 0 %}checked="checked"{% endifequal %} /> Not listed<br />
  <input type="radio" name="publish_status" value="-1" {% ifequal media.publish_status -1 %}checked="checked"{% endifequal %} /> Draft
{% endif %}
	</td>
	<td class="gpress-admin-suggest"></td>
    </tr>
	<tr>
	<td colspan="3" style="text-align: center;"><input type="submit" name="submit" id="submit" value="Save" /></td>
	</tr>
	</table>
</form>

{% if media.key and not gpress.newLanguage %}
        <div class="gpress-admin-content-box">
    <a class="javascript_hide_controller" id="attachments" href="#attachments" title="Attachments"><h2>Languages</h2></a>
    <div id="javascript_hide_div_attachments">
<form action="/gp-admin/media/update/{{article.key}}/languages" method="post" id="gpress-admin-form">
  <input type="hidden" name="key" value="{{article.key}}" />
    <table class="gpress-admin-table-list">
        <tr>
            <td class="gpress-admin-form-table-cell"><a href="/gp-admin/media/update/{{media.key}}/languages/add" title="Add a language for this content">Add a language for this content</a></td>
        </tr>
    {% if media.languages_count %}
        <tr>
            <th class="select_all-box"></th>
            <th colspan="2"></th>
            <th></th>
            <th colspan="2" style="text-align:left;">Title</th>
            <th></th>
        </tr>
    {% for attachment in media.languages %}
        <tr class="{% cycle gpress-admin-table-row,gpress-admin-table-alt-row %}" id="row_{{attachment.key}}">
            <td class="gpress-admin-table-row-checkbox"><input class="all_entities" type="checkbox" name="{{attachment.key}}" value="1" /></td>
            <td style="text-align:center;" class="gpress-admin-form-table-cell"><img class="gpress-admin-comments-icon-small" src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/status/gpress-{{attachment.public|yesno:"Yes,No"}}.png" alt="{{attachment.public|yesno:"Yes,No"}}" /></td>
            <td style="text-align:center;" class="gpress-admin-form-table-cell">{% if attachment.thumbnail_url %}<img class="gpress-admin-table-thumbnail" src="{{attachment.thumbnail_url}}" alt="No thumb" />{% endif %}</td>
            <td class="gpress-admin-form-table-cell">{{attachment.title|default:"No title"}}</td>
            <td class="gpress-admin-form-table-cell">{% firstof content.body|striptags|truncatewords:7 content.description|striptags|truncatewords:7 content.tags|truncatewords:7 %}...</td>
            <td><a id="link_{{attachment.key}}" class="gpress-admin-button-2" href="/gp-admin/{{attachment.get_kind|lower}}/update/{{attachment.key}}" title="Edit this content">Edit</a></td>
        </tr>
    {% endfor %}
        <tr>
        <td colspan="6" style="text-align: center;"><input type="submit" name="delete" id="submit" value="Delete" /></td>
        </tr>
    {% endif %}
    </table>
    </form>
</div>
</div>
            <div class="gpress-admin-content-box">
<form action="/gp-admin/media/update/{{media.key}}/sharing" method="post" id="gpress-admin-form" enctype="multipart/form-data">
<input type="hidden" name="key" value="{{media.key}}" />
    <a class="javascript_hide_controller" id="sharing" href="#sharing" title="Sharing"><h2>Sharing</h2></a>
    <div class="javascript_hide_" id="javascript_hide_div_sharing">
<table class="gpress-admin-form-table">
    <tr>
    <th class="gpress-admin-form-table-cell">Protection</th>
    <td class="gpress-admin-form-table-cell">
        <input type="radio" name="protection" value="0"{% ifequal media.protection 0 %} checked="checked"{% endifequal %}/> None<br />
        <input type="radio" name="protection" value="1"{% ifequal media.protection 1 %} checked="checked"{% endifequal %}/> Delete<br />
        <input type="radio" name="protection" value="2"{% ifequal media.protection 2 %} checked="checked"{% endifequal %} /> Update/Delete
    </td>
    <td class="gpress-admin-suggest"></td>
    </tr><!--
    <tr>
    <th class="gpress-admin-form-table-cell">Contributors</th>
    <td class="gpress-admin-form-table-cell">
        <input autocomplete="off" size="64" id="suggest_users_{{media.key}}" type="text" name="contributors_keys" value="{{media.contributors_keys|join:","}}" /><div class="tags-suggest" id="suggest_users_{{media.key}}"></div>
        <script type="text/javascript">
        var Users_{{media.key}} = ['{{gpress.contents.users_list|join:"','"}}'];
        new TagsSuggest.LocalMulti("suggest_users_{{media.key}}", "suggest_users_{{media.key}}", Users_{{media.key}}, {dispAllKey: true});
        </script>
    </td>
    <td class="gpress-admin-suggest"></td>
    </tr>--><!--
    <tr>
    <th class="gpress-admin-form-table-cell">Contributors</th>
    <td class="gpress-admin-form-table-cell">
            <div tabindex="-1" id="ids" class="clearfix tokenizer" onclick="$('autocomplete_input').focus()">
            <span class="tokenizer_stretcher">^_^</span><span class="tab_stop"><input type="text" id="hidden_input" tabindex="-1"></span>
            <div id="autocomplete_display" class="tokenizer_input">
                            <input name="contributors_keys" type="text" size="1" tabindex="" id="autocomplete_input" onmouseover="javascript:this.name=null; return false;" />
            </div>
        </div>
        <div id="autocomplete_populate" class="clearfix autocomplete typeahead_list" style="width: 158px; height: auto; overflow-y: hidden;display:none">
                <div class="typeahead_message">Type the name of a user or its email address</div>
        </div>  
        <script type="text/javascript">
        var contacts = [
        {% for u in gpress.contents.users %}
            {% ifnotequal u.email 'nobody@example.com' %}{name:"{{u.name|default:"No name"}}",email:"{{u.email}}"},{% endifnotequal %} 
        {% endfor %}{name:"Anonymous2",email:"nobody@example.com"}];
        
        get_hidden_input  = function(item) {
          return hidden_input;
        }
        addUserToList  = function(item) {
          addToList( item, 'contributors_keys', get_hidden_input);
        }
        var typeahead = new Autocompleter.LocalAdvanced('autocomplete_input', 'autocomplete_populate', contacts, {                                                  
            frequency: 0.1,
            updateElement: addUserToList,
            search_field: "name"
        });
        var hidden_input = new HiddenInput('hidden_input',typeahead);
        </script>
    </td>
    <td class="gpress-admin-suggest"></td>
    </tr>-->
    <tr>
    <th class="gpress-admin-form-table-cell">Feeds</th>
    <td class="gpress-admin-form-table-cell">
        <input type="radio" name="feeds_shared" value="1"{% ifequal media.feeds_shared 1 %} checked="checked"{% endifequal %}/> Shared<br />
        <input type="radio" name="feeds_shared" value="0"{% ifequal media.feeds_shared 0 %} checked="checked"{% endifequal %}/> Private
    </td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">SiteMap</th>
    <td class="gpress-admin-form-table-cell">
        <input type="radio" name="sitemap_shared" value="1"{% ifequal media.sitemap_shared 1 %} checked="checked"{% endifequal %}/> Shared<br />
        <input type="radio" name="sitemap_shared" value="0"{% ifequal media.sitemap_shared 0 %} checked="checked"{% endifequal %}/> Private<br />
        <select name="sitemap_priority">
            <option value="0.1"{% ifequal media.sitemap_priority 0.1 %} selected="selected"{% endifequal %}>Priority 0.1</option>
            <option value="0.2"{% ifequal media.sitemap_priority 0.2 %} selected="selected"{% endifequal %}>Priority 0.2</option>
            <option value="0.3"{% ifequal media.sitemap_priority 0.3 %} selected="selected"{% endifequal %}>Priority 0.3</option>
            <option value="0.4"{% ifequal media.sitemap_priority 0.4 %} selected="selected"{% endifequal %}>Priority 0.4</option>
            <option value="0.5"{% ifequal media.sitemap_priority 0.5 %} selected="selected"{% endifequal %}>Priority 0.5</option>
            <option value="0.6"{% ifequal media.sitemap_priority 0.6 %} selected="selected"{% endifequal %}>Priority 0.6</option>
            <option value="0.7"{% ifequal media.sitemap_priority 0.7 %} selected="selected"{% endifequal %}>Priority 0.7</option>
            <option value="0.8"{% ifequal media.sitemap_priority 0.8 %} selected="selected"{% endifequal %}>Priority 0.8</option>
            <option value="0.9"{% ifequal media.sitemap_priority 0.9 %} selected="selected"{% endifequal %}>Priority 0.9</option>
            <option value="1.0"{% ifequal media.sitemap_priority 1.0 %} selected="selected"{% endifequal %}>Priority 1.0</option>
        </select><br />
        <select name="sitemap_freq">
            <option value="monthly"{% ifequal media.sitemap_freq 'monthly' %} selected="selected"{% endifequal %}>Update Frequency: monthly</option>
            <option value="weekly"{% ifequal media.sitemap_freq 'weekly' %} selected="selected"{% endifequal %}>Update Frequency: weekly</option>
            <option value="daily"{% ifequal media.sitemap_freq 'daily' %} selected="selected"{% endifequal %}>Update Frequency: daily</option>
            <option value="hourly"{% ifequal media.sitemap_freq 'hourly' %} selected="selected"{% endifequal %}>Update Frequency: hourly</option>
        </select>
    </td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <td colspan="3" style="text-align: center;">
    <input type="submit" name="submit" id="submit" value="Save" />
    </tr>
</table>
</div>
{% endif %}