<div class="extrema-ratio-post">
<a href="/links/divisione-extrema-ratio-929637141944/redirect" title="Divisione Extrema Ratio"><h2 class="title">ER eRepublik Organization<h2></a>
</div>
{% for contact in contacts %}
  <div class="extrema-ratio-post">
  <img style="vertical-align: middle;" src="/themes/extrema-ratio/static/images/icons/32x32/contacts.png" alt="Contact" /><h2 class="title">{{contact.name|default:"Name not available"}}</h2>
  <dl class="extrema-ratio-contacts-list">
    <dd>{{contact.address}}</dd>
    <dd>{{contact.cap}} {{contact.location}} ({{contact.state}})</dd>
    <dd>&nbsp;</dd>
    <dd><b>E-Mail</b>: {{contact.email|default:"Not available"}}</dd>
    <dd><b>Phone</b>: {{contact.phone|default:"Not available"}}</dd>
    <dd><b>Fax</b>: {{contact.fax|default:"Not available"}}</dd>
  </dl>
</div>
{% endfor %}
<div class="extrema-ratio-post">
  <h2 class="title">Leave a message</h2>
  {% contacts_form %}
</div>