<div class="extrema-ratio-post">
<img style="vertical-align: middle;" src="/themes/extrema-ratio/static/images/icons/32x32/{{file.get_kind|lower}}.png" alt="{{file.title}}" /><h3 class="title">{{file.title}}</h3>
<div class="extrema-ratio-link-image">{{file.code}}</div>
<p class="extrema-ratio-link-description entry">
      {{file.description}}
</p>
<p class="extrema-ratio-link-description meta">
            <a href="{{file.download_url}}" title="{{file.title}}">Click here to view this file</a><br />
            <a href="{{file.download_url}}?forced=1" title="{{file.title}}">Click here to download this file</a> ( {{file.counter|default:"0"}} hit{{file.counter|pluralize:"s"}} )
</p>
</div>