  <div class="extrema-ratio-post">
  <div class="extrema-ratio-files-list-box">
        <img style="vertical-align: middle;" src="/themes/extrema-ratio/static/images/icons/32x32/files.png" alt="Files" /><h3 class="title">Download</h3>
<ul class="extrema-ratio-files-list">
{% for file in files %}
	<li><img style="vertical-align: middle;" src="{{file.mimetype_image_url}}" alt="Files" />  [{{file.size|filesizeformat}}] <a style="vertical-align:middle;" href="{{file.view_url}}" title="{{file.title}}">{{file.title}}</a></li>
{% endfor %}
</ul>
</div>
</div>