{% include 'shared/headers.html' %}
<style>
body
{
  background-image:url('/themes/29b/static/images/29b-intro-grass.png');
}
</style>
<div style="margin: 0 auto;width: 830px;">
  <div id="intro-header">
    <img src="/themes/29b/static/images/29b-logo.png" alt="B&amp;B 29b - Genova - Genoa - Italy" />
  </div>
  <div id="intro-text">
    <img src="/themes/29b/static/images/29b-intro-welcome.png" alt="{{gpress.site.description}}" /><br />
    <a href="/bed-and-breakfast-home" title="Entra">
      <img src="/themes/29b/static/images/29b-intro-entra2.png" alt="Entra" />
    </a>
  </div>
</div>