<div class="extrema-ratio-post">
<img style="vertical-align: middle;" src="/themes/extrema-ratio/static/images/icons/32x32/links.png" alt="{{link.title}}" /><h3 class="title">{{link.title}}</h3>
<table id="extrema-ratio-link">
<tr class="extrema-ratio-link link">
  <td class="extrema-ratio-link-thumbnail">
    <div class="extrema-ratio-link-image"><img style="width: 200px;" src="{{link.thumbnail_url}}" alt="" /></div>
  </td>
  <td class="extrema-ratio-link-content">
    <p class="extrema-ratio-link-description entry">
      {{link.description}}
    </p>
    <p class="extrema-ratio-link-description meta">
      <a href="{{link.visit_url}}" title="{{link.title}}" target="_blank" />{{link.url|get_url_hostname|lower}}</a>
    </p>
  </td>
</tr>
</table></div>