<div class="extrema-ratio-post">
<img style="vertical-align: middle;" src="/themes/extrema-ratio/static/images/icons/32x32/links.png" alt="Links" /><h3 class="title">Links</h3>
<table class="extrema-ratio-links-table">
{% for link in links %}
  <tr>
  <td style="padding-top:3px;" class="extrema-ratio-links-image"><img style="width: 64px;" src="{{link.favicon_url}}" alt="" /></td>
  <td style="padding-top:3px;text-align: left;vertical-align: middle;">
    <a class="extrema-ratio-links-title" href="/links/{% firstof link.permalink link.key %}" title="{{link.title}}">
  <h2 class="title extrema-ratio-links-url">{{link.url|get_url_hostname|lower}}</h2></a>
  </td></tr>
{% endfor %}
</table></div>