<div class="extrema-ratio-post">
<div class="extrema-ratio-article">
    <p class="extrema-ratio-article-description meta">
        {{article.publish_date|date:gpress.site.date_format}} - Day {{article.publish_date|days_from_date:"2007-11-21"}} of the eRepublik eWorld
    </p>
	<img style="vertical-align: middle;" src="/themes/extrema-ratio/static/images/icons/32x32/{{article.get_kind|lower}}.png" alt="{{article.get_kind|lower}}" />
	<h2 class="title"><a href="{{article.view_url}}" title="{{article.title}}">{{article.title}}</a></h2>
	<div class="extrema-ratio-article-description">
	    {% if article.image_url %}
	        <img style="width:100px;float:left;margin-right:3px;margin-bottom:3px;" src="{{article.image_url}}" alt="Post image unavailable" />
	    {% endif %}
		{{article.body}}
	</div>
	<br style="clear:both;" />
	{% if article.attachments_count %}
	<ul class="extrema-ratio-post-attachments">
	   <lt>References</lt>
	    {% for entry in article.attachments %}
            <li class="extrema-ratio-post-attachment"><img src="/themes/extrema-ratio/static/images/icons/24x24/{{entry.get_kind|lower}}.png" alt="{{entry.get_kind|lower}}" /><a href="{{entry.view_url}}/redirect" title="{{entry.title|default:"No title"}}">{{entry.title|default:"No title"}}</a></li>
	    {% endfor %}
	</ul>
	{% endif %}
</div></div>