    <div class="extrema-ratio-page">
{{page.body}}
    </div>
  {% if page.attachments_count %}
    <div class="extrema-ratio-post">
  <ul class="extrema-ratio-post-attachments">
     <lt>References</lt>
      {% for entry in page.attachments %}
            <li class="extrema-ratio-post-attachment"><img src="/themes/extrema-ratio/static/images/icons/24x24/{{entry.get_kind|lower}}.png" alt="{{entry.get_kind|lower}}" /><a href="{{entry.view_url}}/redirect" title="{{entry.title|default:"No title"}}">{{entry.title|default:"No title"}}</a></li>
      {% endfor %}
  </ul>
    </div>
  {% endif %}