    <div class="extrema-ratio-post">
      <img style="vertical-align: middle;" src="/themes/extrema-ratio/static/images/icons/32x32/{{post.get_kind|lower}}.png" alt="{{post.get_kind|lower}}" /><h3 class="title"><a href="{{post.view_url}}" title="{{post.title}}">{{post.title}}</a></h3>
      <p class="extrema-ratio-post-description meta">
        Published by <a href="/plugins/erepublik/soldier-{{post.publish_user.nickname}}" title="Open profile">{{post.publish_user.nickname}}</a> on day {{post.publish_date|days_from_date:"2007-11-21"}} of the eRepublik eWorld ({{post.publish_date|date:"d.m.Y"}})
      </p>
      <p>{{post.body}}</p>
    <br style="clear:both;" />
    {% if post.attachments_count %}
    <ul class="extrema-ratio-post-attachments">
       <lt>References</lt>
        {% for entry in post.attachments %}
            <li class="extrema-ratio-post-attachment"><img src="/themes/extrema-ratio/static/images/icons/24x24/{{entry.get_kind|lower}}.png" alt="{{entry.get_kind|lower}}" /><a href="{{entry.view_url}}/redirect" title="{{entry.title|default:"No title"}}">{{entry.title|default:"No title"}}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    </div>