</div>
<div id="footer-content">
  <div class="column1">
    <h2>{{gpress.site.title}}</h2>    
    <p>{{gpress.site.description}}</p>
  </div>
  <div class="column2"><!--
    <ul class="list">
      <li><a href="#">Tempor accumsan vitae sed nibh dolore</a></li>
      <li><a href="#">Aenean commodo, tortor eu porta veroeros</a></li>
      <li><a href="#">Fermentum molestie erat eget consequat</a></li>
      <li><a href="#">Donec vestibulum interdum diam etiam</a></li>
      <li><a href="#">Vehicula aenean eget sed tellus blandit</a></li>
    </ul>-->
  </div>
</div>
<div id="footer">
  <p> (c) 2009 <a href="http://www.baruffaldi.info" title="Developed by Filippo Baruffaldi">Filippo Baruffaldi</a>. Design by <a href="http://www.nodethirtythree.com" title="Graphics">nodethirtythree</a> and powered by <a href="http://gpress.coolminds.org"  rel='generator' title="Powered by GPress">GPress</a>.</p>
  <p>
    <a href="http://validator.w3.org/check/referer" title="Cette page est en XHTML 1.0 Transitional valide"><abbr title="eXtensible HyperText Markup Language">XHTML</abbr></a>
    <a href="http://gmpg.org/xfn/"><abbr title="R&eacute;seau XHTML Friends">XFN</abbr></a>
    {% if gpress.got_feed %}
       <a href="/feeds/{{gpress.controller}}" title="{{gpress.controller|capfirst}} :: RSS Feed">{{gpress.controller|capfirst}} RSS</a>
    {% endif %}
    <a href="/gp-admin" title="GPress Administration">Admin</a>
  </p>
</div>
{{gpress.google_analytics_code}}
</body> 
</html>