  <div id="menu">
    <ul>
      <li{% ifequal gpress.id "home" %} class="current_page_item"{% endifequal %}><a href="/">Home</a></li>
      <li{% ifequal gpress.id "blog" %} class="current_page_item"{% endifequal %}{% ifequal gpress.site.homepage "0" %}{% ifequal gpress.id "pages" %} class="current_page_item"{% endifequal %}{% endifequal %}><a href="/{% ifequal gpress.site.homepage "0" %}pages{% else %}blog{% endifequal %}">{% ifequal gpress.site.homepage "0" %}Pages{% else %}Blog{% endifequal %}</a></li>
      <li{% ifequal gpress.id "media" %} class="current_page_item"{% endifequal %}><a href="/media">Gallery</a></li>
      <li{% ifequal gpress.id "files" %} class="current_page_item"{% endifequal %}><a href="/files">Download</a></li>
      <li{% ifequal gpress.id "links" %} class="current_page_item"{% endifequal %}><a href="/links">Links</a></li>
    </ul>
  </div>