<form action="/gp-admin/news/{% if article.key and not gpress.newLanguage %}update/{{article.key}}{% else %}add{% endif %}" method="post" id="gpress-admin-form">
<h2>Content</h2>
{% include '../_shared/error_box.html' %}
{% if article.key and not gpress.newLanguage %}
{% ifnotequal article.protection 0 %}
    {% ifnotequal article.user gpress.user_instance %}
        <tr>
        <td colspan="3"><div class="gpress-warning-box">Warning: you cannot {% ifequal article.protection 1 %}delete{% endifequal %}{% ifequal article.protection 2 %}update or delete{% endifequal %} this content.</div></td>
        </tr>
    {% endifnotequal %}
{% endifnotequal %}
  <input type="hidden" name="key" value="{{article.key}}" />
  <tr>
  <th class="gpress-admin-form-table-cell">Link image</th>
  <td class="gpress-admin-form-table-cell">
  <select name="image">
    <option value=""></option>
    {% for image in gpress.public_contents.media %}
    {% ifequal image.mime 'image' %}
      <option value="{{image.key}}" {% ifequal article.image.key image.key %}selected="selected"{% endifequal %}>{% firstof image.title image.permalink %}</option>
    {% endifequal %}
    {% endfor %}
  </select>
  </td>
  <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Creation date</th>
    <td class="gpress-admin-form-table-cell">
    {% if gpress.user.is_developer %}
      <input type="text" name="date" size="64" value="{{article.date|default:""}}" />
    {% endif %}
    {% if article.date %}
    {{article.date|date:gpress.site.date_format}} {{article.date|time:gpress.site.time_format}} ({{article.user.nickname}})
    {% endif %}
    </td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Last update</th>
    <td class="gpress-admin-form-table-cell">
    {% if gpress.user.is_developer %}
      <input type="text" name="update_date" size="64" value="{{article.update_date|default:""}}" />
    {% endif %}
    {% if article.update_date %}
    {{article.update_date|date:gpress.site.date_format}} {{article.update_date|time:gpress.site.time_format}} ({{article.update_user.nickname}})
    {% endif %}
    </td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Publish date</th>
    <td class="gpress-admin-form-table-cell">
    <input type="text" name="publish_date" size="64" value="{{article.publish_date|default:""}}" />
    {% if article.publish_date %}
    {{article.publish_date|date:gpress.site.date_format}} {{article.publish_date|time:gpress.site.time_format}} ({{article.publish_user.nickname}})
    {% else %}Draft{% endif %}
    </td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Permalink (URL)</th>
    <td class="gpress-admin-form-table-cell">{{gpress.site.url}}/news/<input style="width: 80%;" type="text" name="permalink" size="64" value="{% if article.permalink %}{{article.permalink}}{% else %}{{article.key}}{% endif %}" /></td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Tags</th>
    <td class="gpress-admin-form-table-cell">
        <input autocomplete="off" size="64" id="suggest_tags_{{article.key}}" type="text" name="tags" value="{{article.tags|join:","}}" /><div class="tags-suggest" id="suggest_{{article.key}}"></div>
        <script type="text/javascript">
        var Tags_{{article.key}} = ['{{article.tags|join:"','"}}'];
        new TagsSuggest.LocalMulti("suggest_tags_{{article.key}}", "suggest_{{article.key}}", Tags_{{article.key}}, {dispAllKey: true});
        </script>
    </td>
    <td class="gpress-admin-suggest"></td>
    </tr>
{% endif %}
{% if gpress.newLanguage %}<input type="hidden" name="permalink"     value="{{article.permalink|default:""}}" />{% endif %}
    <tr>
    <th class="gpress-admin-form-table-cell">Language</th>
    <td class="gpress-admin-form-table-cell">
    <select name="language">
        <option value="en"{% ifequal article.language 'en' %} selected="selected"{% endifequal %}>English</option>
        <option value="it"{% ifequal article.language 'it' %} selected="selected"{% endifequal %}>Italiano</option>
    </select></td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Title</th>
    <td class="gpress-admin-form-table-cell"><input type="text" name="title" size="64" value="{{article.title}}" /></td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <td colspan="3" class="gpress-admin-form-table-cell"><textarea class="mceLightEditor" name="body" cols="64">{{article.body}} </textarea></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">Status</th>
    <td class="gpress-admin-form-table-cell">
{% if not article.key %}
    <input type="hidden" name="sitemap_priority"   value="{{gpress.site.default_new_news_sitemap_priority|default:"0.3"}}" />
    <input type="hidden" name="sitemap_freq"       value="{{gpress.site.default_new_news_sitemap_freq|default:"monthly"}}" />
    <input type="hidden" name="sitemap_shared"   value="{{gpress.site.default_new_news_sitemap_shared|default:"1"}}" />
    <input type="hidden" name="feeds_shared"        value="{{gpress.site.default_new_news_feeds_shared|default:"1"}}" />
    <input type="hidden" name="protection"     value="{{gpress.site.protection|default:"0"}}" />
    <input type="radio" name="publish_status" value="1" {% ifequal gpress.site.default_new_page_status "2" %}checked="checked"{% endifequal %}/> Published<br />
    <input type="radio" name="publish_status" value="0" {% ifequal gpress.site.default_new_page_status "1" %}checked="checked"{% endifequal %} /> Not listed<br />
    <input type="radio" name="publish_status" value="-1" {% ifequal gpress.site.default_new_page_status "0" %}checked="checked"{% endifequal %} /> Draft
{% else %}
  <input type="radio" name="publish_status" value="1" {% ifequal article.publish_status 1 %}checked="checked"{% endifequal %}/> Published<br />
  <input type="radio" name="publish_status" value="0" {% ifequal article.publish_status 0 %}checked="checked"{% endifequal %} /> Not listed<br />
  <input type="radio" name="publish_status" value="-1" {% ifequal article.publish_status -1 %}checked="checked"{% endifequal %} /> Draft
{% endif %}
    </td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <td colspan="3" style="text-align: center;">
    <input type="submit" name="submit" id="submit" value="Save" />
    </td>
    </tr>
    </table>
    </form>
</div>

        </div>

{% if article.main %}
<div class="gpress-admin-content-box">
This content is an alternate language version of <a href="/gp-admin/news/update/{{article.main}}" title="Original content">this</a> content.        
</div>
{% endif %}

{% if not article.main and article.key and not gpress.newLanguage %}
        <div class="gpress-admin-content-box">
    <a class="javascript_hide_controller" id="attachments" href="#attachments" title="Attachments"><h2>Languages</h2></a>
    <div id="javascript_hide_div_attachments">
<form action="/gp-admin/news/update/{{article.key}}/languages" method="post" id="gpress-admin-form">
  <input type="hidden" name="key" value="{{article.key}}" />
    <table class="gpress-admin-table-list">
        <tr>
            <td class="gpress-admin-form-table-cell"><a href="/gp-admin/news/update/{{article.key}}/languages/add" title="Add a language for this content">Add a language for this content</a></td>
        </tr>
    {% if article.languages_count %}
        <tr>
            <th class="select_all-box"></th>
            <th colspan="2"></th>
            <th></th>
            <th colspan="2" style="text-align:left;">Title</th>
        </tr>
    {% for attachment in article.languages %}
        <tr class="{% cycle gpress-admin-table-row,gpress-admin-table-alt-row %}" id="row_{{attachment.key}}">
            <td class="gpress-admin-table-row-checkbox"><input class="all_entities" type="checkbox" name="{{attachment.key}}" value="1" /></td>
            <td style="text-align:center;" class="gpress-admin-form-table-cell"><img class="gpress-admin-comments-icon-small" src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/status/gpress-{{attachment.public|yesno:"Yes,No"}}.png" alt="{{attachment.public|yesno:"Yes,No"}}" /></td>
            <td style="text-align:center;" class="gpress-admin-form-table-cell">{% if attachment.thumbnail_url %}<img class="gpress-admin-table-thumbnail" src="{{attachment.thumbnail_url}}" alt="No thumb" />{% endif %}</td>
            <td class="gpress-admin-form-table-cell">{{attachment.title|default:"No title"}}</td>
            <td class="gpress-admin-form-table-cell">{% firstof content.body|striptags|truncatewords:7 content.description|striptags|truncatewords:7 content.tags|truncatewords:7 %}...</td>
            <td><a id="link_{{attachment.key}}" class="gpress-admin-button-2" href="/gp-admin/{{attachment.get_kind|lower}}/update/{{attachment.key}}" title="Edit this content">Edit</a></td>
        </tr>
    {% endfor %}
        <tr>
        <td colspan="6" style="text-align: center;"><input type="submit" name="delete" id="submit" value="Delete" /></td>
        </tr>
    {% endif %}
    </table>
    </form>
</div>
</div>
        <div class="gpress-admin-content-box">
    <a class="javascript_hide_controller" id="attachments" href="#attachments" title="Attachments"><h2>Attachments</h2></a>
    <div id="javascript_hide_div_attachments">
<form action="/gp-admin/news/update/{{article.key}}/attachments" method="post" id="gpress-admin-form">
  <input type="hidden" name="key" value="{{article.key}}" />
    <table class="gpress-admin-form-table">
        <tr>
            <td class="gpress-admin-form-table-cell">Choose the items to attach on this article</td>
        </tr>
        {% for entries in contents|dict_to_list %}
            {% if entries %}
                <tr>
                    <td class="gpress-admin-form-table-cell text-right"><img class="gpress-admin-icon-medium" src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/{{entries.0.get_kind|lower}}/gpress-icon-{{entries.0.get_kind|lower}}-active.png" alt="{{entries.0.get_kind}}" /></td>
                    <td class="gpress-admin-form-table-cell">
                    <select name="{{entries.0.get_kind|lower}}" multiple="multiple">
                        <option value=""></option>
                    {% for entry in entries %}
                        <option value="{{entry.key}}"{% if article.attachments_keys|have_string_value:entry.key %} selected="selected"{% endif %}>{% firstof entry.title entry.permaarticle %} - {% firstof entry.body|striptags|truncatewords:7 entry.description|striptags|truncatewords:7 entry.mime|striptags|truncatewords:7 entry.tags|truncatewords:7 %}</option>
                    {% endfor %}
                    </select>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        <tr>
            <td colspan="2" style="text-align: center;"><input type="submit" name="attach" id="submit" value="Attach" /></td>
        </tr>
    </table>
    
    {% if article.attachments_count %}
    <table class="gpress-admin-table-list">
        <tr>
            <th class="select_all-box"></th>
            <th colspan="2"></th>
            <th></th>
            <th colspan="2" style="text-align:left;">Title</th>
            <th></th>
        </tr>
    {% for attachment in article.attachments %}
        <tr class="{% cycle gpress-admin-table-row,gpress-admin-table-alt-row %}" id="row_{{attachment.key}}">
            <td class="gpress-admin-table-row-checkbox"><input class="all_entities" type="checkbox" name="{{attachment.key}}" value="1" /></td>
            <td style="text-align:center;" class="gpress-admin-form-table-cell"><img src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/{{attachment.get_kind|lower}}/gpress-icon-{{attachment.get_kind|lower}}-small.png" alt="{{attachment.get_kind}}" /></td>
            <td style="text-align:center;" class="gpress-admin-form-table-cell"><img class="gpress-admin-comments-icon-small" src="{{gpress.site.admin_theme_url}}/gp-admin/images/icons/status/gpress-{{attachment.public|yesno:"Yes,No"}}.png" alt="{{attachment.public|yesno:"Yes,No"}}" /></td>
            <td style="text-align:center;" class="gpress-admin-form-table-cell">{% if attachment.thumbnail_url %}<img class="gpress-admin-table-thumbnail" src="{{attachment.thumbnail_url}}" alt="No thumb" />{% endif %}</td>
            <td class="gpress-admin-form-table-cell">{{attachment.title|default:"No title"}}</td>
            <td class="gpress-admin-form-table-cell">{% firstof content.body|striptags|truncatewords:7 content.description|striptags|truncatewords:7 content.tags|truncatewords:7 %}...</td>
            <td><a id="article_{{attachment.key}}" class="gpress-admin-button-2" href="/gp-admin/{{attachment.get_kind|lower}}/update/{{attachment.key}}" title="Edit this content">Edit</a></td>
        </tr>
    {% endfor %}
        <tr>
        <td colspan="6" style="text-align: center;"><input type="submit" name="delete" id="submit" value="Delete" /></td>
        </tr>
    </table>
    {% endif %}
    </form>
</div>
            </div>
            <div class="gpress-admin-content-box">
<form action="/gp-admin/news/update/{{article.key}}/sharing" method="post" id="gpress-admin-form" enctype="multipart/form-data">
<input type="hidden" name="key" value="{{article.key}}" />
    <a class="javascript_hide_controller" id="sharing" href="#sharing" title="Sharing"><h2>Sharing</h2></a>
    <div class="javascript_hide_" id="javascript_hide_div_sharing">
<table class="gpress-admin-form-table">
    <tr>
    <th class="gpress-admin-form-table-cell">Protection</th>
    <td class="gpress-admin-form-table-cell">
        <input type="radio" name="protection" value="0"{% ifequal article.protection 0 %} checked="checked"{% endifequal %}/> None<br />
        <input type="radio" name="protection" value="1"{% ifequal article.protection 1 %} checked="checked"{% endifequal %}/> Delete<br />
        <input type="radio" name="protection" value="2"{% ifequal article.protection 2 %} checked="checked"{% endifequal %} /> Update/Delete
    </td>
    <td class="gpress-admin-suggest"></td>
    </tr><!--
    <tr>
    <th class="gpress-admin-form-table-cell">Contributors</th>
    <td class="gpress-admin-form-table-cell">
        <input autocomplete="off" size="64" id="suggest_users_{{article.key}}" type="text" name="contributors_keys" value="{{article.contributors_keys|join:","}}" /><div class="tags-suggest" id="suggest_users_{{article.key}}"></div>
        <script type="text/javascript">
        var Users_{{article.key}} = ['{{gpress.contents.users_list|join:"','"}}'];
        new TagsSuggest.LocalMulti("suggest_users_{{article.key}}", "suggest_users_{{article.key}}", Users_{{article.key}}, {dispAllKey: true});
        </script>
    </td>
    <td class="gpress-admin-suggest"></td>
    </tr>--><!--
    <tr>
    <th class="gpress-admin-form-table-cell">Contributors</th>
    <td class="gpress-admin-form-table-cell">
            <div tabindex="-1" id="ids" class="clearfix tokenizer" onclick="$('autocomplete_input').focus()">
            <span class="tokenizer_stretcher">^_^</span><span class="tab_stop"><input type="text" id="hidden_input" tabindex="-1"></span>
            <div id="autocomplete_display" class="tokenizer_input">
                            <input name="contributors_keys" type="text" size="1" tabindex="" id="autocomplete_input" onmouseover="javascript:this.name=null; return false;" />
            </div>
        </div>
        <div id="autocomplete_populate" class="clearfix autocomplete typeahead_list" style="width: 158px; height: auto; overflow-y: hidden;display:none">
                <div class="typeahead_message">Type the name of a user or its email address</div>
        </div>  
        <script type="text/javascript">
        var contacts = [
        {% for u in gpress.contents.users %}
            {% ifnotequal u.email 'nobody@example.com' %}{name:"{{u.name|default:"No name"}}",email:"{{u.email}}"},{% endifnotequal %} 
        {% endfor %}{name:"Anonymous2",email:"nobody@example.com"}];
        
        get_hidden_input  = function(item) {
          return hidden_input;
        }
        addUserToList  = function(item) {
          addToList( item, 'contributors_keys', get_hidden_input);
        }
        var typeahead = new Autocompleter.LocalAdvanced('autocomplete_input', 'autocomplete_populate', contacts, {                                                  
            frequency: 0.1,
            updateElement: addUserToList,
            search_field: "name"
        });
        var hidden_input = new HiddenInput('hidden_input',typeahead);
        </script>
    </td>
    <td class="gpress-admin-suggest"></td>
    </tr>-->
    <tr>
    <th class="gpress-admin-form-table-cell">Feeds</th>
    <td class="gpress-admin-form-table-cell">
        <input type="radio" name="feeds_shared" value="1"{% ifequal article.feeds_shared 1 %} checked="checked"{% endifequal %}/> Shared<br />
        <input type="radio" name="feeds_shared" value="0"{% ifequal article.feeds_shared 0 %} checked="checked"{% endifequal %}/> Private
    </td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <th class="gpress-admin-form-table-cell">SiteMap</th>
    <td class="gpress-admin-form-table-cell">
        <input type="radio" name="sitemap_shared" value="1"{% ifequal article.sitemap_shared 1 %} checked="checked"{% endifequal %}/> Shared<br />
        <input type="radio" name="sitemap_shared" value="0"{% ifequal article.sitemap_shared 0 %} checked="checked"{% endifequal %}/> Private<br />
        <select name="sitemap_priority">
            <option value="0.1"{% ifequal article.sitemap_priority 0.1 %} selected="selected"{% endifequal %}>Priority 0.1</option>
            <option value="0.2"{% ifequal article.sitemap_priority 0.2 %} selected="selected"{% endifequal %}>Priority 0.2</option>
            <option value="0.3"{% ifequal article.sitemap_priority 0.3 %} selected="selected"{% endifequal %}>Priority 0.3</option>
            <option value="0.4"{% ifequal article.sitemap_priority 0.4 %} selected="selected"{% endifequal %}>Priority 0.4</option>
            <option value="0.5"{% ifequal article.sitemap_priority 0.5 %} selected="selected"{% endifequal %}>Priority 0.5</option>
            <option value="0.6"{% ifequal article.sitemap_priority 0.6 %} selected="selected"{% endifequal %}>Priority 0.6</option>
            <option value="0.7"{% ifequal article.sitemap_priority 0.7 %} selected="selected"{% endifequal %}>Priority 0.7</option>
            <option value="0.8"{% ifequal article.sitemap_priority 0.8 %} selected="selected"{% endifequal %}>Priority 0.8</option>
            <option value="0.9"{% ifequal article.sitemap_priority 0.9 %} selected="selected"{% endifequal %}>Priority 0.9</option>
            <option value="1.0"{% ifequal article.sitemap_priority 1.0 %} selected="selected"{% endifequal %}>Priority 1.0</option>
        </select><br />
        <select name="sitemap_freq">
            <option value="monthly"{% ifequal article.sitemap_freq 'monthly' %} selected="selected"{% endifequal %}>Update Frequency: monthly</option>
            <option value="weekly"{% ifequal article.sitemap_freq 'weekly' %} selected="selected"{% endifequal %}>Update Frequency: weekly</option>
            <option value="daily"{% ifequal article.sitemap_freq 'daily' %} selected="selected"{% endifequal %}>Update Frequency: daily</option>
            <option value="hourly"{% ifequal article.sitemap_freq 'hourly' %} selected="selected"{% endifequal %}>Update Frequency: hourly</option>
        </select>
    </td>
    <td class="gpress-admin-suggest"></td>
    </tr>
    <tr>
    <td colspan="3" style="text-align: center;">
    <input type="submit" name="submit" id="submit" value="Save" />
    </tr>
</table>
    </div>
{% endif %}